902SANA/902SchemasAndExamples/901x03FrmSchemas/AbstractFrTypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:frm" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ccsds:schema:frm" version="1.0.0">
   
 
  <xsd:complexType name="ParameterBaseType">
      
    <xsd:sequence>
         
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="expressionReference" type="ExpressionReference"/>
        
    </xsd:sequence>
     
  </xsd:complexType>
   
  
  <xsd:complexType name="ExpressionReference">
       
    <xsd:sequence>
          
      <xsd:element maxOccurs="unbounded" name="dependency" type="Dependency"/>
         
    </xsd:sequence>
       
    <xsd:attribute ecore:reference="Expression" name="expression" type="xsd:anyURI"/>
      
  </xsd:complexType>
    
   
  <xsd:complexType name="Expression">
        
    <xsd:attribute name="name" type="xsd:string"/>
        
    <xsd:attribute name="expressionURL" type="xsd:string"/>
       
  </xsd:complexType>
     
   
  <xsd:complexType name="Dependency">
        
    <xsd:attribute ecore:reference="ParameterBaseType" name="target" type="xsd:anyURI"/>
       
  </xsd:complexType>
     
   
  <xsd:element name="functionalResourceInstance" type="FunctionalResourceInstance"/>
     
  <xsd:complexType abstract="true" name="FunctionalResourceInstance">
        
    <xsd:attribute name="name" type="xsd:string"/>
        
    <xsd:attribute name="instanceNumber" type="xsd:integer"/>
       
  </xsd:complexType>
      
   
  <xsd:element name="functionalResourceGroup" type="FunctionalResourceGroup"/>
      
  <xsd:complexType name="FunctionalResourceGroup">
         
    <xsd:sequence>
            
      <xsd:element maxOccurs="unbounded" minOccurs="0" ref="functionalResourceInstance"/>
            
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="functionalResourceGroup" type="FunctionalResourceGroup"/>
            
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="expression" type="Expression"/>
           
    </xsd:sequence>
         
    <xsd:attribute name="name" type="xsd:string"/>
        
  </xsd:complexType>
      
    
  <xsd:element abstract="true" name="frmParameter" type="ParameterBaseType"/>
  
</xsd:schema>
