902SANA/902SchemasAndExamples/901x03FrmSchemas/DdorRawDataStore.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:frm" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" ecore:documentRoot="Functional Resources" elementFormDefault="qualified" targetNamespace="urn:ccsds:schema:frm" version="1.0.0">
  <xsd:include schemaLocation="frm_type_definitions.xsd"/>
  <xsd:include schemaLocation="AbstractFrTypes.xsd"/>
  
  <!--
The DdorRawDataStore FR is a repository of raw Delta-Dor data files generated by
 an associated DdorRawDataCollection FR instance. Because of the high volume of the
 collected data the raw Delta-Dor data files may be transferred to the correlator
 used for the processing of the Delta-Dor raw data of a given mission by a dedicated
 file transfer mechanism.

The applied data retention policy is FIFO. 
-->
  <xsd:element name="DdorRawDataStoreElement" substitutionGroup="functionalResourceInstance" type="DdorRawDataStoreType"/>
  <xsd:complexType name="DdorRawDataStoreType">
    <xsd:complexContent>
      <xsd:extension base="FunctionalResourceInstance">
        <xsd:all>
          <xsd:element minOccurs="0" name="ddorRawDataStoreAllocatedStorage" type="DdorRawDataStoreAllocatedStorageNamed"/>
        </xsd:all>
        <xsd:attribute fixed="1.3.112.4.4.2.1.70500" name="frTypeOid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:element name="ddorRawDataStoreAllocatedStorage" substitutionGroup="frmParameter" type="DdorRawDataStoreAllocatedStorageNamed"/>
  
  <!--
This enumerated parameter reports the DdorRawDataStore FR resource status and can
 take on four values:
- 'configured':  the associated resource has been configured;
-
 'operational':  the associated resource is active;
- 'interrupted':  a failure
 has been detected;
- 'halted':  the associated resource has been taken out of service.

NOTE
 - Because it is an offline data storage FR, the resource status of the DdorRawDataStore
 FR is independent of any Service Package that it may be included in. 
-->
  <xsd:complexType name="DdorRawDataStoreResourceStatNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This enumerated parameter reports the DdorRawDataStore FR resource status and can take on four values:
- 'configured':  the associated resource has been configured;
- 'operational':  the associated resource is active;
- 'interrupted':  a failure has been detected;
- 'halted':  the associated resource has been taken out of service.

NOTE - Because it is an offline data storage FR, the resource status of the DdorRawDataStore FR is independent of any Service Package that it may be included in. ]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="DdorRawDataStoreResourceStat" use="required"/>
        <xsd:attribute fixed="ddorRawDataStoreResourceStat" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.70500.1.1.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="DdorRawDataStoreResourceStat">
    <xsd:restriction base="ResourceStat"/>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the maximum storage (in megabytes) allocated
 per mission for the storage of raw Delta-DOR files as generated by the associated
 DdorRawDataCollection FR instance.
-->
   
  <xsd:complexType name="DdorRawDataStoreAllocatedStorageNamed">
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:sequence>
          <xsd:element name="DdorRawDataStoreAllocatedStorage" type="DdorRawDataStoreAllocatedStorage"/>
        </xsd:sequence>
        <xsd:attribute fixed="1.3.112.4.4.2.1.70500.1.2.1.1" name="oid" type="ObjectIdentifier"/>
        <xsd:attribute fixed="ddorRawDataStoreAllocatedStorage" name="classifier" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:complexType name="DdorRawDataStoreAllocatedStorage">
    <xsd:sequence>
      <xsd:element name="element">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
              <![CDATA[sequence]]>
            </xsd:appinfo>
            <xsd:appinfo source="Level">
              <![CDATA[0]]>
            </xsd:appinfo>
            <xsd:appinfo source="SemanticDefinition">
              <![CDATA[This parameter configures and reports the maximum storage (in megabytes) allocated per mission for the storage of raw Delta-DOR files as generated by the associated DdorRawDataCollection FR instance.]]>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="storageAllocation">
              <xsd:complexType>
                <xsd:attribute name="value" type="LongIntPos" use="required"/>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="scope">
              <xsd:complexType>
                <xsd:annotation>
                  <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
                    <![CDATA[choice]]>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:choice>
                  <xsd:element name="missionId">
                    <xsd:complexType>
                      <xsd:attribute name="value" use="required">
                        <!--
            This string shall be the same as used in the raw data files for the identification of the observed spacecraft.
            -->
                                    
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:minLength value="4"/>
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="global">
                    <xsd:complexType>
                      <xsd:attribute name="value" use="required">
                                    
                        <xsd:simpleType>
                          <xsd:restriction base="NULL"/>
                        </xsd:simpleType>
                      </xsd:attribute>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:choice>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!--
This parameter reports the size (in megabytes) per mission of the currently available
 storage in the DdorRawDataStore FR instance.
-->
   
  <xsd:complexType name="DdorRawDataStoreAvailableStorageNamed">
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:sequence>
          <xsd:element name="DdorRawDataStoreAvailableStorage" type="DdorRawDataStoreAvailableStorage"/>
        </xsd:sequence>
        <xsd:attribute fixed="1.3.112.4.4.2.1.70500.1.3.1.1" name="oid" type="ObjectIdentifier"/>
        <xsd:attribute fixed="ddorRawDataStoreAvailableStorage" name="classifier" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:complexType name="DdorRawDataStoreAvailableStorage">
    <xsd:sequence>
      <xsd:element name="element">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
              <![CDATA[sequence]]>
            </xsd:appinfo>
            <xsd:appinfo source="SemanticDefinition">
              <![CDATA[This parameter reports the size (in megabytes) per mission of the currently available storage in the DdorRawDataStore FR instance.]]>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="missionId">
              <xsd:complexType>
                <xsd:attribute name="value" use="required">
                  <!--
          This string shall be the same as used in the raw data files for the identification of the observed spacecraft.
          -->
                            
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="4"/>
                      <xsd:maxLength value="4"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="storageAllocation">
              <xsd:complexType>
                <xsd:attribute name="value" type="LongIntPos" use="required"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!--
This event notifies any change of the ddorRawDataStoreResourceStat parameter.
-->
  
  <!--
The event value reports the ddorRawDataStoreResourceStat value that applies since
 the notified ddorRawDataStoreResourceStatChange event occurred.
-->
  <xsd:simpleType name="DdorRawDataStoreResourceStatChangeEvtValue">
    <xsd:restriction base="DdorRawDataStoreResourceStat"/>
  </xsd:simpleType>
  
  <!--
This event notifies the overflow of the part of the DdorRawDataStore beyond storage
 space allocated to the given mission.
-->
  
  <!--
The event value identifies the mission of which the storage storage overflow has
 occurred. 
-->
   
 
  <xsd:simpleType name="DdorRawDataStoreOverflowEvtValue">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="4"/>
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
  
  <!--
The messages passed by means of the ddorRawDataStoreOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
  <xsd:complexType name="DdorRawDataStoreOperatorNotifyMessage">
    <xsd:complexContent>
      <xsd:extension base="OperatorNotifyMessage"/>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!--
This directive permits setting of the controllable parameters of the DdorRawDataStore
 FR type. 
-->
  
  <!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the DdorRawDataStore
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.
-->
  <xsd:complexType name="DdorRawDataStoreContrParamIdsAndValuesDirQual">
    <xsd:complexContent>
      <xsd:extension base="DirectiveQualifier"/>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>
