902SANA/902SchemasAndExamples/901x03FrmSchemas/FlfUslpMcDemux.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:frm" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" ecore:documentRoot="Functional Resources" elementFormDefault="qualified" targetNamespace="urn:ccsds:schema:frm" version="1.0.0">
  
  <xsd:include schemaLocation="frm_type_definitions.xsd"/>
  
  <xsd:include schemaLocation="AbstractFrTypes.xsd"/>
  
  <!--
TheFlfUslpMcDemux FR accepts suceessfully decoded frames and passes on all frames
 of the configured Master Channels.

Note: The presence or absence of the OCF in
 USLP frames is signaled per VC. Therefore this FR does not support the extraction
 of CLCWs from a Master Channel.  
-->
   
  <xsd:element name="FlfUslpMcDemuxElement" substitutionGroup="functionalResourceInstance" type="FlfUslpMcDemuxType"/>
    
  <xsd:complexType name="FlfUslpMcDemuxType">
       
    <xsd:complexContent>
          
      <xsd:extension base="FunctionalResourceInstance">
             
        <xsd:all>
                
          <xsd:element minOccurs="0" name="flfUslpMcDemuxMcIds" type="FlfUslpMcDemuxMcIdsNamed"/>
                
          <xsd:element minOccurs="0" name="flfUslpMcDemuxPresenceOfFecf" type="FlfUslpMcDemuxPresenceOfFecfNamed"/>
               
        </xsd:all>
             
        <xsd:attribute fixed="1.3.112.4.4.2.1.40700" name="frTypeOid" type="ObjectIdentifier"/>
            
      </xsd:extension>
         
    </xsd:complexContent>
     
  </xsd:complexType>
   
 
  <xsd:element name="flfUslpMcDemuxMcIds" substitutionGroup="frmParameter" type="FlfUslpMcDemuxMcIdsNamed"/>
   
  <xsd:element name="flfUslpMcDemuxPresenceOfFecf" substitutionGroup="frmParameter" type="FlfUslpMcDemuxPresenceOfFecfNamed"/>
  
  <!--
This enumerated parameter reports the FlfUslpMcDemux FR resource status and can take
 on four values:
- 'configured':  the associated equipment has been configured;
-
 'operational':  the associated equipment is active;
- 'interrupted':  a failure
 has been detected;
- 'halted':  the associated equipment has been taken out of
 service.
-->
   
  <xsd:complexType name="FlfUslpMcDemuxResourceStatNamed">
      
    <xsd:annotation>
         
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This enumerated parameter reports the FlfUslpMcDemux FR resource status and can take on four values:
- 'configured':  the associated equipment has been configured;
- 'operational':  the associated equipment is active;
- 'interrupted':  a failure has been detected;
- 'halted':  the associated equipment has been taken out of service.]]>
      </xsd:appinfo>
        
    </xsd:annotation>
      
    <xsd:complexContent>
         
      <xsd:extension base="ParameterBaseType">
            
        <xsd:attribute name="value" type="FlfUslpMcDemuxResourceStat" use="required"/>
            
        <xsd:attribute fixed="flfUslpMcDemuxResourceStat" name="classifier" type="xsd:string"/>
            
        <xsd:attribute fixed="1.3.112.4.4.2.1.40700.1.1.1.1" name="oid" type="ObjectIdentifier"/>
           
      </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
   
  <xsd:simpleType name="FlfUslpMcDemuxResourceStat">
      
    <xsd:restriction base="ResourceStat"/>
     
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the Master Channel IDs the given FR instance
 is configured to process.
-->
   
 
  <xsd:complexType name="FlfUslpMcDemuxMcIdsNamed">
      
    <xsd:complexContent>
         
      <xsd:extension base="ParameterBaseType">
            
        <xsd:sequence>
              
          <xsd:element name="FlfUslpMcDemuxMcIds" type="FlfUslpMcDemuxMcIds"/>
              
        </xsd:sequence>
            
        <xsd:attribute fixed="1.3.112.4.4.2.1.40700.1.2.1.1" name="oid" type="ObjectIdentifier"/>
            
        <xsd:attribute fixed="flfUslpMcDemuxMcIds" name="classifier" type="xsd:string"/>
           
      </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
    
  <xsd:complexType name="FlfUslpMcDemuxMcIds">
       
    <xsd:annotation>
          
      <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
        <![CDATA[sequence]]>
      </xsd:appinfo>
          
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the Master Channel IDs the given FR instance is configured to process.]]>
      </xsd:appinfo>
         
    </xsd:annotation>
       
    <xsd:sequence>
          
      <xsd:element name="tfvn">
             
        <xsd:complexType>
                
          <xsd:attribute name="value" use="required">
            <!--
       For USLP frames the Transfer Frame Version Number (TFVN) is 4, encoded as binary '1100'.
       -->
                   
       
       
            <xsd:simpleType>
                     
              <xsd:restriction base="BitString"/>
                     
            </xsd:simpleType>
                  
          </xsd:attribute>
               
        </xsd:complexType>
            
      </xsd:element>
          
      <xsd:element name="scid">
            
    
        <xsd:complexType>
               
          <xsd:sequence maxOccurs="65536" minOccurs="1">
                  
            <xsd:element name="scidElement">
                     
       
              <xsd:simpleType>
                        
                <xsd:restriction base="xsd:integer">
                           
                  <xsd:minInclusive value="0"/>
                           
                  <xsd:maxInclusive value="65535"/>
                          
                </xsd:restriction>
                       
              </xsd:simpleType>
                    
            </xsd:element>
                 
          </xsd:sequence>
               
        </xsd:complexType>
            
      </xsd:element>
         
    </xsd:sequence>
       
  </xsd:complexType>
  
  <!--
This enumerated parameter configures and reports if the Frame Error Control Field
 is present in each frame on the Physical Channel. This parameter can take on two
 values:
- 'present';
- 'absent'.

The details regarding the FECF are specified
 in CCSDS 731.1. 
-->
   
 
  <xsd:complexType name="FlfUslpMcDemuxPresenceOfFecfNamed">
      
    <xsd:annotation>
         
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This enumerated parameter configures and reports if the Frame Error Control Field is present in each frame on the Physical Channel. This parameter can take on two values:
- 'present';
- 'absent'.

The details regarding the FECF are specified in CCSDS 731.1. ]]>
      </xsd:appinfo>
        
    </xsd:annotation>
      
    <xsd:complexContent>
         
      <xsd:extension base="ParameterBaseType">
            
        <xsd:attribute name="value" type="FlfUslpMcDemuxPresenceOfFecf" use="required"/>
            
        <xsd:attribute fixed="flfUslpMcDemuxPresenceOfFecf" name="classifier" type="xsd:string"/>
            
        <xsd:attribute fixed="1.3.112.4.4.2.1.40700.1.3.1.1" name="oid" type="ObjectIdentifier"/>
           
      </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
   
  <xsd:simpleType name="FlfUslpMcDemuxPresenceOfFecf">
      
  
    <xsd:restriction base="xsd:token">
           
      <xsd:enumeration value="present"/>
           
      <xsd:enumeration value="absent"/>
          
  
    </xsd:restriction>
     
 
  </xsd:simpleType>
  
  <!--
This event notifies any change of the ffUslpMcDemuxResourceStat parameter value.
-->
  
  <!--
The event value reports the flfUslpMcDemuxResourceStat parameter value that applies
 since the notified flfUslpMcDemuxResourceStatChange event has occurred.
-->
   
  <xsd:simpleType name="FlfUslpMcDemuxResourceStatChangeEvtValue">
      
    <xsd:restriction base="FlfUslpMcDemuxResourceStat"/>
     
  </xsd:simpleType>
  
  <!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
  
  <!--
The messages passed by means of the flfUslpMcDemuxOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
   
  <xsd:complexType name="FlfUslpMcDemuxOperatorNotifyMessage">
      
    <xsd:complexContent>
         
      <xsd:extension base="OperatorNotifyMessage">
   </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
  
  <!--
This directive permits setting of the controllable parameters of the FlfUslpMcDemux
 FR type. 
-->
  
  <!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the FlfUslpMcDemux
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.

-->
   
  <xsd:complexType name="FlfUslpMcDemuxContrParamIdsAndValuesDirQual">
      
    <xsd:complexContent>
         
      <xsd:extension base="DirectiveQualifier">
   </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
   
</xsd:schema>
