902SANA/902SchemasAndExamples/901x03FrmSchemas/FlfUslpMcMux.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:frm" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" ecore:documentRoot="Functional Resources" elementFormDefault="qualified" targetNamespace="urn:ccsds:schema:frm" version="1.0.0">
  
  <xsd:include schemaLocation="frm_type_definitions.xsd"/>
  
  <xsd:include schemaLocation="AbstractFrTypes.xsd"/>
  
  <!--
This FR accepts fixed-length USLP frames without FECF belonging to one Master Channel.
It
 provides all fixed-length USLP frames for one physical channel which optionally
 contain FECFs.
-->
   
  <xsd:element name="FlfUslpMcMuxElement" substitutionGroup="functionalResourceInstance" type="FlfUslpMcMuxType"/>
    
  <xsd:complexType name="FlfUslpMcMuxType">
       
    <xsd:complexContent>
          
      <xsd:extension base="FunctionalResourceInstance">
             
        <xsd:all>
                
          <xsd:element minOccurs="0" name="flfUslpMcMuxContr" type="FlfUslpMcMuxContrNamed"/>
                
          <xsd:element minOccurs="0" name="flfUslpMcMuxPresenceOfFecf" type="FlfUslpMcMuxPresenceOfFecfNamed"/>
               
        </xsd:all>
             
        <xsd:attribute fixed="1.3.112.4.4.2.1.40400" name="frTypeOid" type="ObjectIdentifier"/>
            
      </xsd:extension>
         
    </xsd:complexContent>
     
  </xsd:complexType>
   
 
  <xsd:element name="flfUslpMcMuxContr" substitutionGroup="frmParameter" type="FlfUslpMcMuxContrNamed"/>
   
  <xsd:element name="flfUslpMcMuxPresenceOfFecf" substitutionGroup="frmParameter" type="FlfUslpMcMuxPresenceOfFecfNamed"/>
  
  <!--
This enumerated parameter reports the FlfUslpMcMux FR resource status and can take
 on four values:
- 'configured':  the associated equipment has been configured
-
 'operational':  the associated equipment is active;
- 'interrupted':  a failure
 has been detected;
- 'halted':  the associated equipment has been taken out of
 service.
-->
   
  <xsd:complexType name="FlfUslpMcMuxResourceStatNamed">
      
    <xsd:annotation>
         
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This enumerated parameter reports the FlfUslpMcMux FR resource status and can take on four values:
- 'configured':  the associated equipment has been configured
- 'operational':  the associated equipment is active;
- 'interrupted':  a failure has been detected;
- 'halted':  the associated equipment has been taken out of service.]]>
      </xsd:appinfo>
        
    </xsd:annotation>
      
    <xsd:complexContent>
         
      <xsd:extension base="ParameterBaseType">
            
        <xsd:attribute name="value" type="FlfUslpMcMuxResourceStat" use="required"/>
            
        <xsd:attribute fixed="flfUslpMcMuxResourceStat" name="classifier" type="xsd:string"/>
            
        <xsd:attribute fixed="1.3.112.4.4.2.1.40400.1.1.1.1" name="oid" type="ObjectIdentifier"/>
           
      </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
   
  <xsd:simpleType name="FlfUslpMcMuxResourceStat">
      
    <xsd:restriction base="ResourceStat"/>
     
  </xsd:simpleType>
  
  <!--
This parameter configures and reports how the USLP Master Channels are multiplexed
 onto the physical channel. 
- If flfUslpMcMuxContr = ‘fifo’, no further specification
 applies. 
- If flfUslpMcMuxContr = 'absolutePriority', then the associated configuration
 value is a sequence of the SCIDs used on the transmission link where the first SCID
 in the sequence has the highest priority, the second has the second-highest priority
 etc. Consequently the sequence has as many elements as Spacecraft Identifiers are
 permitted on the given physical channel. 
- If flfUslpMcMuxContr = 'pollingVector',
 then the associated sequence consists of up to 196608 elements where each element
 is a SCID. 
-->
   
  <xsd:complexType name="FlfUslpMcMuxContrNamed">
      
    <xsd:annotation>
         
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports how the USLP Master Channels are multiplexed onto the physical channel. 
- If flfUslpMcMuxContr = ‘fifo’, no further specification applies. 
- If flfUslpMcMuxContr = 'absolutePriority', then the associated configuration value is a sequence of the SCIDs used on the transmission link where the first SCID in the sequence has the highest priority, the second has the second-highest priority etc. Consequently the sequence has as many elements as Spacecraft Identifiers are permitted on the given physical channel. 
- If flfUslpMcMuxContr = 'pollingVector', then the associated sequence consists of up to 196608 elements where each element is a SCID. ]]>
      </xsd:appinfo>
        
    </xsd:annotation>
      
    <xsd:complexContent>
         
      <xsd:extension base="ParameterBaseType">
            
        <xsd:sequence>
              
          <xsd:element name="FlfUslpMcMuxContr" type="FlfUslpMcMuxContr"/>
              
        </xsd:sequence>
            
        <xsd:attribute fixed="1.3.112.4.4.2.1.40400.1.2.1.1" name="oid" type="ObjectIdentifier"/>
            
        <xsd:attribute fixed="flfUslpMcMuxContr" name="classifier" type="xsd:string"/>
           
      </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
   
  <xsd:complexType name="FlfUslpMcMuxContr">
      
    <xsd:complexContent>
         
      <xsd:extension base="UslpMcMuxContr">
   </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
  
  <!--
This parameter configures and reports if the FR inserts the Frame Error Control Field
 into each USLP frame before providing it to the encoding FR.
-->
   
 
  <xsd:complexType name="FlfUslpMcMuxPresenceOfFecfNamed">
      
    <xsd:annotation>
         
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports if the FR inserts the Frame Error Control Field into each USLP frame before providing it to the encoding FR.]]>
      </xsd:appinfo>
        
    </xsd:annotation>
      
    <xsd:complexContent>
         
      <xsd:extension base="ParameterBaseType">
            
        <xsd:attribute name="value" type="FlfUslpMcMuxPresenceOfFecf" use="required"/>
            
        <xsd:attribute fixed="flfUslpMcMuxPresenceOfFecf" name="classifier" type="xsd:string"/>
            
        <xsd:attribute fixed="1.3.112.4.4.2.1.40400.1.3.1.1" name="oid" type="ObjectIdentifier"/>
           
      </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
   
  <xsd:simpleType name="FlfUslpMcMuxPresenceOfFecf">
      
  
    <xsd:restriction base="xsd:token">
           
      <xsd:enumeration value="absent"/>
           
      <xsd:enumeration value="present"/>
          
  
    </xsd:restriction>
     
 
  </xsd:simpleType>
  
  <!--
This event notifies any change of the flfUslpMcMuxResourceStat parameter value.
-->
  
  <!--
The event value reports the flfUslpMcMuxResourceStat parameter value that applies
 since the notified tcMcMuxResourceStatChange event has occurred. 
-->
   
  <xsd:simpleType name="FlfUslpMcMuxResourceStatEvtValue">
      
    <xsd:restriction base="FlfUslpMcMuxResourceStat"/>
     
  </xsd:simpleType>
  
  <!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
  
  <!--
The messages passed by means of the flfUslpMcMuxOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
   
  <xsd:complexType name="FlfUslpMcMuxOperatorNotifyMessage">
      
    <xsd:complexContent>
         
      <xsd:extension base="OperatorNotifyMessage">
   </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
  
  <!--
This directive permits setting of the controllable parameters of the FlfUslpMcMux
 FR type.  

-->
  
  <!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the FlfUslpMcMux
 FR and the parameter value must be of the same type as the parameter value that
 shall be set. 
-->
   
  <xsd:complexType name="FlfUslpMcMuxContrParamIdsAndValuesDirQual">
      
    <xsd:complexContent>
         
      <xsd:extension base="DirectiveQualifier">
   </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
  
  <!--
When receiving this directive, the FR discards all currently buffered data units
 that have been received through the transfer service instance identified in the
 directive qualifier.
-->
  
  <!--
The qualifier of this directive specifies the service-instance-id of the CSTS instance
 for which the data units are to discarded when the when the flfUslpMcMuxDiscardDataUnits
 directive is invoked.
-->
   
  <xsd:complexType name="FlfUslpMcMuxDiscardDataUnitsDirQual">
      
    <xsd:complexContent>
         
      <xsd:extension base="CstsSvcInstanceId">
   </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
   
</xsd:schema>
