902SANA/902SchemasAndExamples/901x03FrmSchemas/OpenLoopDataCollection.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:frm" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" ecore:documentRoot="Functional Resources" elementFormDefault="qualified" targetNamespace="urn:ccsds:schema:frm" version="1.0.0">
  <xsd:include schemaLocation="frm_type_definitions.xsd"/>
  <xsd:include schemaLocation="AbstractFrTypes.xsd"/>
  
  <!--
The OpenLoopDataCollection FR can be configured to record complex (in-phase and quadrature-phase)
 samples of the received signal. Several channels, each centered on a different frequency,
 can be recorded concurrently. The sampling rate and the sample size are configurable.
 This functionality is not used in routine operations, but for diagnostic purposes
 or specific engineering and science tasks. 

The capabilities of OpenLoopDataCollection
 FR implementations vary depending on the agency-specific equipment. Also the format
 in which the recorded data are made available is not standardized.  Therefore this
 FR does neither specify a specific file format nor a file naming convention. Furthermore
 it does not specify how the generated files will be transferred to a user entity.
      
-->
  <xsd:element name="OpenLoopDataCollectionElement" substitutionGroup="functionalResourceInstance" type="OpenLoopDataCollectionType"/>
  <xsd:complexType name="OpenLoopDataCollectionType">
    <xsd:complexContent>
      <xsd:extension base="FunctionalResourceInstance">
        <xsd:all>
          <xsd:element minOccurs="0" name="openLoopSamplingRate" type="OpenLoopSamplingRateNamed"/>
          <xsd:element minOccurs="0" name="openLoopQuantization" type="OpenLoopQuantizationNamed"/>
          <xsd:element minOccurs="0" name="openLoopCenterFreq" type="OpenLoopCenterFreqNamed"/>
          <xsd:element minOccurs="0" name="openLoopDriftCompensation" type="OpenLoopDriftCompensationNamed"/>
          <xsd:element minOccurs="0" name="openLoopChannels" type="OpenLoopChannelsNamed"/>
          <xsd:element minOccurs="0" name="openLoopSamplingPeriod" type="OpenLoopSamplingPeriodNamed"/>
        </xsd:all>
        <xsd:attribute fixed="1.3.112.4.4.2.1.20600" name="frTypeOid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:element name="openLoopSamplingRate" substitutionGroup="frmParameter" type="OpenLoopSamplingRateNamed"/>
  <xsd:element name="openLoopQuantization" substitutionGroup="frmParameter" type="OpenLoopQuantizationNamed"/>
  <xsd:element name="openLoopCenterFreq" substitutionGroup="frmParameter" type="OpenLoopCenterFreqNamed"/>
  <xsd:element name="openLoopDriftCompensation" substitutionGroup="frmParameter" type="OpenLoopDriftCompensationNamed"/>
  <xsd:element name="openLoopChannels" substitutionGroup="frmParameter" type="OpenLoopChannelsNamed"/>
  <xsd:element name="openLoopSamplingPeriod" substitutionGroup="frmParameter" type="OpenLoopSamplingPeriodNamed"/>
  
  <!--
This enumerated parameter reports the OpenLoopDataCollection FR resource status and
 can take on four values:
- 'configured':  the associated equipment has been configured
 to take open-loop samples as input to the production of associated files;
- 'operational':
  the associated equipment is collecting open-loop samples and produces the associated
 files;
- 'interrupted':  a failure has been detected;
- 'halted':  the associated
 equipment has been taken out of service.
-->
  <xsd:complexType name="OpenLoopResourceStatNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This enumerated parameter reports the OpenLoopDataCollection FR resource status and can take on four values:
- 'configured':  the associated equipment has been configured to take open-loop samples as input to the production of associated files;
- 'operational':  the associated equipment is collecting open-loop samples and produces the associated files;
- 'interrupted':  a failure has been detected;
- 'halted':  the associated equipment has been taken out of service.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="OpenLoopResourceStat" use="required"/>
        <xsd:attribute fixed="openLoopResourceStat" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.20600.1.1.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="OpenLoopResourceStat">
    <xsd:restriction base="ResourceStat"/>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the total number of measurements per second
 taken for the open-loop recording. For each measurement two samples (in-phase and
 quadrature phase) are taken for each of the active channels. 
-->
  <xsd:complexType name="OpenLoopSamplingRateNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the total number of measurements per second taken for the open-loop recording. For each measurement two samples (in-phase and quadrature phase) are taken for each of the active channels. ]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="OpenLoopSamplingRate" use="required"/>
        <xsd:attribute fixed="openLoopSamplingRate" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.20600.1.2.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="OpenLoopSamplingRate">
    <xsd:restriction base="LongIntPos"/>
  </xsd:simpleType>
  
  <!--
This enumerated parameter specifies the quantization of the samples, i.e. the number
 of bits used to represent one sample. 
-->
   
  <xsd:complexType name="OpenLoopQuantizationNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This enumerated parameter specifies the quantization of the samples, i.e. the number of bits used to represent one sample. ]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="OpenLoopQuantization" use="required"/>
        <xsd:attribute fixed="openLoopQuantization" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.20600.1.3.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:simpleType name="OpenLoopQuantization">
    <xsd:restriction base="xsd:integer">
      <xsd:pattern value="1|2|4|8|16"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the center frequency in Hz of the spectrum
 for which the open-loop samples shall be taken.
-->
   
  <!--
 The engineering unit of this parameter is Hertz.
 -->
  <xsd:complexType name="OpenLoopCenterFreqNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the center frequency in Hz of the spectrum for which the open-loop samples shall be taken.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="OpenLoopCenterFreq" use="required"/>
        <xsd:attribute fixed="openLoopCenterFreq" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.20600.1.4.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:simpleType name="OpenLoopCenterFreq">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="2200000000"/>
      <xsd:maxInclusive value="38000000000"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the coefficients of a polynomial that describes
 how the center frequency of the observed spectrum (in terms of phase) and consequently
 the channel frequencies shall be modified over time to compensate Doppler and/or
 other drifts. The assumption is that at the time when the first sample is taken
 the accumulated phase is reset to zero. To facilitate the calculations, the first
 sample shall always be taken on the second boundary of the time tags.    
-->
   
  <xsd:complexType name="OpenLoopDriftCompensationNamed">
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:sequence>
          <xsd:element name="OpenLoopDriftCompensation" type="OpenLoopDriftCompensation"/>
        </xsd:sequence>
        <xsd:attribute fixed="1.3.112.4.4.2.1.20600.1.5.1.1" name="oid" type="ObjectIdentifier"/>
        <xsd:attribute fixed="openLoopDriftCompensation" name="classifier" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OpenLoopDriftCompensation">
    <xsd:annotation>
      <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
        <![CDATA[sequence]]>
      </xsd:appinfo>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the coefficients of a polynomial that describes how the center frequency of the observed spectrum (in terms of phase) and consequently the channel frequencies shall be modified over time to compensate Doppler and/or other drifts. The assumption is that at the time when the first sample is taken the accumulated phase is reset to zero. To facilitate the calculations, the first sample shall always be taken on the second boundary of the time tags.    ]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="polynomialCoefficient0">
        <xsd:complexType>
          <xsd:attribute name="value" use="required">
            <!--
       This coefficient specifies in rad any phase offset at the time when the first sample is taken.
       -->
                   
            <xsd:simpleType>
              <xsd:restriction base="xsd:double"/>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="polynomialCoefficient1">
        <xsd:complexType>
          <xsd:attribute name="value" use="required">
            <!--
       This coefficient specifies in rad per second the phase offset at the time a sample is taken. 
       -->
                   
            <xsd:simpleType>
              <xsd:restriction base="xsd:double"/>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="polynomialCoefficient2">
        <xsd:complexType>
          <xsd:attribute name="value" use="required">
            <!--
       This coefficient specifies in rad per (second)^2 the phase offset at the time a sample is taken. 
       -->
                   
            <xsd:simpleType>
              <xsd:restriction base="xsd:double"/>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="polynomialCoefficient3">
        <xsd:complexType>
          <xsd:attribute name="value" use="required">
            <!--
       This coefficient specifies in rad per (second)^3 the phase offset at the time a sample is taken. 
       -->
                   
            <xsd:simpleType>
              <xsd:restriction base="xsd:double"/>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!--
This parameter configures and reports for each channel for which samples shall be
 recorded (1) which polarization shall be used for the given channel and (b) which
 offset in Hz this channel shall have with respect to the center frequency of the
 observed spectrum.
-->
   
  <xsd:complexType name="OpenLoopChannelsNamed">
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:sequence>
          <xsd:element name="OpenLoopChannels" type="OpenLoopChannels"/>
        </xsd:sequence>
        <xsd:attribute fixed="1.3.112.4.4.2.1.20600.1.6.1.1" name="oid" type="ObjectIdentifier"/>
        <xsd:attribute fixed="openLoopChannels" name="classifier" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:complexType name="OpenLoopChannels">
    <xsd:sequence>
      <xsd:element name="element">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
              <![CDATA[sequence]]>
            </xsd:appinfo>
            <xsd:appinfo source="SemanticDefinition">
              <![CDATA[This parameter configures and reports for each channel for which samples shall be recorded (1) which polarization shall be used for the given channel and (b) which offset in Hz this channel shall have with respect to the center frequency of the observed spectrum.]]>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="polarization">
              <xsd:complexType>
                <xsd:attribute name="value" use="required">
                  <xsd:simpleType>
                               
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="Lhc"/>
                                   
                      <xsd:enumeration value="Rhc"/>
                                   
                    </xsd:restriction>
                              
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="channelFrequencyOffset">
              <xsd:complexType>
                <xsd:attribute name="value" use="required">
                  <!--
          The engineering unit is Hz.
          -->
                            
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:minInclusive value="-80000000"/>
                      <xsd:maxInclusive value="80000000"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!--
This parameter configures and reports the period during which the open-loop samples
 shall be collected.
-->
   
  <xsd:complexType name="OpenLoopSamplingPeriodNamed">
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:sequence>
          <xsd:element name="OpenLoopSamplingPeriod" type="OpenLoopSamplingPeriod"/>
        </xsd:sequence>
        <xsd:attribute fixed="1.3.112.4.4.2.1.20600.1.7.1.1" name="oid" type="ObjectIdentifier"/>
        <xsd:attribute fixed="openLoopSamplingPeriod" name="classifier" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OpenLoopSamplingPeriod">
    <xsd:annotation>
      <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
        <![CDATA[sequence]]>
      </xsd:appinfo>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the period during which the open-loop samples shall be collected.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="samplingStartTime">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
              <![CDATA[sequence]]>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="year">
              <xsd:complexType>
                <xsd:attribute name="value" use="required">
                           
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:minInclusive value="2000"/>
                      <xsd:maxInclusive value="2100"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="dayOfYear">
              <xsd:complexType>
                <xsd:attribute name="value" use="required">
                           
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:minInclusive value="1"/>
                      <xsd:maxInclusive value="366"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="hourOfDay">
              <xsd:complexType>
                <xsd:attribute name="value" use="required">
                           
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:minInclusive value="0"/>
                      <xsd:maxInclusive value="23"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="minuteOfHour">
              <xsd:complexType>
                <xsd:attribute name="value" use="required">
                           
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:minInclusive value="0"/>
                      <xsd:maxInclusive value="59"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="secondOfMinute">
              <xsd:complexType>
                <xsd:attribute name="value" use="required">
                           
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:minInclusive value="0"/>
                      <xsd:maxInclusive value="59"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="samplingStopTime">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
              <![CDATA[sequence]]>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="year">
              <xsd:complexType>
                <xsd:attribute name="value" use="required">
                           
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:minInclusive value="2000"/>
                      <xsd:maxInclusive value="2100"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="dayOfYear">
              <xsd:complexType>
                <xsd:attribute name="value" use="required">
                           
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:minInclusive value="1"/>
                      <xsd:maxInclusive value="366"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="hourOfDay">
              <xsd:complexType>
                <xsd:attribute name="value" use="required">
                           
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:minInclusive value="0"/>
                      <xsd:maxInclusive value="23"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="minuteOfHour">
              <xsd:complexType>
                <xsd:attribute name="value" use="required">
                           
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:minInclusive value="0"/>
                      <xsd:maxInclusive value="59"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="secondOfMinute">
              <xsd:complexType>
                <xsd:attribute name="value" use="required">
                           
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:minInclusive value="0"/>
                      <xsd:maxInclusive value="59"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!--
This event notifies any change of the openLoopResourceStat parameter value.
-->
  
  <!--
The event value reports the openLoopResourceStat parameter value that applies since
 the notified openLoopResourceStatChange event has occurred.
-->
  <xsd:simpleType name="OpenLoopResourceStatChangeEvtValue">
    <xsd:restriction base="OpenLoopResourceStat"/>
  </xsd:simpleType>
  
  <!--
This event triggers when one or more parameters controlling the configuration of
 the open loop sampling performed by this OpenLoopDataCollection FR instance has
 changed. 

This event carries no additional information.

-->
  
  <!--
The event-value of this event is 'empty'.
-->
  <xsd:simpleType name="OpenLoopConfigurationChangeEvtValue">
    <xsd:restriction base="ProdConfigurationChangeEvtValue"/>
  </xsd:simpleType>
  
  <!--
This event notifies the completion of the generation of a file containing open-loop
 samples and reports in the event value the file name assigned to that file. The
 file naming depends on the proprietary formatter of the OpenLoopData Collection
 FR implementation.
-->
  
  <!--
The event value reports the name that has been assigned to the file the completion
 of which is notified by the  openLoopFileCompletion event.
-->
   
 
  <xsd:simpleType name="OpenLoopFileCompletionEvtValue">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  
  <!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
  
  <!--
The messages passed by means of the openLoopOperatorNotify event are classified in
 terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and searching
 for specific messages, a unique numerical identifier is assigned to each message
 string. The messages are free text such that equipment specific issues can be reported.
 
-->
  <xsd:complexType name="OpenLoopOperatorNotifyMessage">
    <xsd:complexContent>
      <xsd:extension base="OperatorNotifyMessage"/>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!--
This directive permits setting of the controllable parameters of the OpenLoopDataCollection
 FR type. 
-->
  
  <!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the OpenLoopDataCollection
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.
-->
  <xsd:complexType name="OpenLoopContrParamIdsAndValuesDirQual">
    <xsd:complexContent>
      <xsd:extension base="DirectiveQualifier"/>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>
