902SANA/902SchemasAndExamples/901x03FrmSchemas/RngXmit.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:frm" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" ecore:documentRoot="Functional Resources" elementFormDefault="qualified" targetNamespace="urn:ccsds:schema:frm" version="1.0.0">
  
  <xsd:include schemaLocation="frm_type_definitions.xsd"/>
  
  <xsd:include schemaLocation="AbstractFrTypes.xsd"/>
  
  <!--
This FR does not take any input. 
It provides the to be radiated ranging signal
 to the spacecraft to the Ccsds401SpaceLinkCarrierXmit FR for modulation onto the
 forward carrier.
It provides the timing information needed by the RngAndDopplerExtraction
 FR.

-->
   
  <xsd:element name="RngXmitElement" substitutionGroup="functionalResourceInstance" type="RngXmitType"/>
    
  <xsd:complexType name="RngXmitType">
       
    <xsd:complexContent>
          
      <xsd:extension base="FunctionalResourceInstance">
             
        <xsd:all>
                
          <xsd:element minOccurs="0" name="rngXmitMod" type="RngXmitModNamed"/>
                
          <xsd:element minOccurs="0" name="rngXmitRngType" type="RngXmitRngTypeNamed"/>
               
        </xsd:all>
             
        <xsd:attribute fixed="1.3.112.4.4.2.1.20101" name="frTypeOid" type="ObjectIdentifier"/>
            
      </xsd:extension>
         
    </xsd:complexContent>
     
  </xsd:complexType>
   
 
  <xsd:element name="rngXmitMod" substitutionGroup="frmParameter" type="RngXmitModNamed"/>
   
  <xsd:element name="rngXmitRngType" substitutionGroup="frmParameter" type="RngXmitRngTypeNamed"/>
  
  <!--
This enumerated parameter reports the RngXmit FR resource status and can take on
 four values:
- 'configured':  the associated equipment has been configured;
-
 'operational':  the associated equipment is active;
- 'interrupted':  a failure
 has been detected;
- 'halted':  the associated equipment has been taken out of
 service.
-->
   
  <xsd:complexType name="RngXmitResourceStatNamed">
      
    <xsd:annotation>
         
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This enumerated parameter reports the RngXmit FR resource status and can take on four values:
- 'configured':  the associated equipment has been configured;
- 'operational':  the associated equipment is active;
- 'interrupted':  a failure has been detected;
- 'halted':  the associated equipment has been taken out of service.]]>
      </xsd:appinfo>
        
    </xsd:annotation>
      
    <xsd:complexContent>
         
      <xsd:extension base="ParameterBaseType">
            
        <xsd:attribute name="value" type="RngXmitResourceStat" use="required"/>
            
        <xsd:attribute fixed="rngXmitResourceStat" name="classifier" type="xsd:string"/>
            
        <xsd:attribute fixed="1.3.112.4.4.2.1.20101.1.1.1.1" name="oid" type="ObjectIdentifier"/>
           
      </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
   
  <xsd:simpleType name="RngXmitResourceStat">
      
    <xsd:restriction base="ResourceStat"/>
     
  </xsd:simpleType>
  
  <!--
This enumerated parameter configures and reports if the ranging system is active
 and can take on two values:
- 'disabled':  the ranging system is presently not
 active as far as the transmit link is concerned, i.e., no ranging signal is modulated
 onto the transmit carrier;
- 'enabled':  the ranging system is presently active,
 i.e., the ranging system is generating the ranging signal and modulating it onto
 the transmit carrier.

If rngXmitMod = 'enabled', the parameter also specifies
 if the ranging shall be performed with the spacecraft or with the calibration translator
 in the ranging calibration loop. The applicable transponder ratio and therefore
 the ranging translator configuration is specified by the parameter Ccsds401SpaceLinkCarrierRcpt:
 ccsds401CarrierRcptTransponderRatio.
-->
   
 
  <xsd:complexType name="RngXmitModNamed">
      
    <xsd:complexContent>
         
      <xsd:extension base="ParameterBaseType">
            
        <xsd:sequence>
              
          <xsd:element name="RngXmitMod" type="RngXmitMod"/>
              
        </xsd:sequence>
            
        <xsd:attribute fixed="1.3.112.4.4.2.1.20101.1.2.1.1" name="oid" type="ObjectIdentifier"/>
            
        <xsd:attribute fixed="rngXmitMod" name="classifier" type="xsd:string"/>
           
      </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
    
  <xsd:complexType name="RngXmitMod">
       
    <xsd:annotation>
          
      <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
        <![CDATA[choice]]>
      </xsd:appinfo>
          
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This enumerated parameter configures and reports if the ranging system is active and can take on two values:
- 'disabled':  the ranging system is presently not active as far as the transmit link is concerned, i.e., no ranging signal is modulated onto the transmit carrier;
- 'enabled':  the ranging system is presently active, i.e., the ranging system is generating the ranging signal and modulating it onto the transmit carrier.

If rngXmitMod = 'enabled', the parameter also specifies if the ranging shall be performed with the spacecraft or with the calibration translator in the ranging calibration loop. The applicable transponder ratio and therefore the ranging translator configuration is specified by the parameter Ccsds401SpaceLinkCarrierRcpt: ccsds401CarrierRcptTransponderRatio.]]>
      </xsd:appinfo>
         
    </xsd:annotation>
       
    <xsd:choice>
          
      <xsd:element name="disabled">
             
        <xsd:complexType>
                
          <xsd:attribute name="value" use="required">
                   
       
            <xsd:simpleType>
                     
              <xsd:restriction base="NULL"/>
                     
            </xsd:simpleType>
                  
          </xsd:attribute>
               
        </xsd:complexType>
            
      </xsd:element>
          
      <xsd:element name="enabled">
             
        <xsd:complexType>
                
          <xsd:attribute name="value" use="required">
                   
            <xsd:simpleType>
                      
        
              <xsd:restriction base="xsd:token">
                           
                <xsd:enumeration value="tracking"/>
                           
                <xsd:enumeration value="calibrating"/>
                          
        
              </xsd:restriction>
                     
       
            </xsd:simpleType>
                  
          </xsd:attribute>
               
        </xsd:complexType>
            
      </xsd:element>
         
    </xsd:choice>
       
  </xsd:complexType>
  
  <!--
This enumerated parameter configures and reports the type of ranging that is being
 used. It can take on the following values:
- 'toneCode':  the system performs range
 measurements in accordance with ECSS-E-50-02A or similar;
- 'pseudoNoise':  the
 system performs range measurements in accordance with CCSDS 414.1-B-2.
In addition
 it permits to choose the Doppler compensation applied to the  ranging signal on
 the transmit carrier. It may be
- 'noCompensation';
- 'oneWay':  the spacecraft
 "sees" the nominal ranging signal;
- 'twoWay':  the ESLT "sees" the nominal ranging
 signal.
-->
   
 
  <xsd:complexType name="RngXmitRngTypeNamed">
      
    <xsd:complexContent>
         
      <xsd:extension base="ParameterBaseType">
            
        <xsd:sequence>
              
          <xsd:element name="RngXmitRngType" type="RngXmitRngType"/>
              
        </xsd:sequence>
            
        <xsd:attribute fixed="1.3.112.4.4.2.1.20101.1.3.1.1" name="oid" type="ObjectIdentifier"/>
            
        <xsd:attribute fixed="rngXmitRngType" name="classifier" type="xsd:string"/>
           
      </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
    
  <xsd:complexType name="RngXmitRngType">
       
    <xsd:annotation>
          
      <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
        <![CDATA[sequence]]>
      </xsd:appinfo>
          
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This enumerated parameter configures and reports the type of ranging that is being used. It can take on the following values:
- 'toneCode':  the system performs range measurements in accordance with ECSS-E-50-02A or similar;
- 'pseudoNoise':  the system performs range measurements in accordance with CCSDS 414.1-B-2.
In addition it permits to choose the Doppler compensation applied to the  ranging signal on the transmit carrier. It may be
- 'noCompensation';
- 'oneWay':  the spacecraft "sees" the nominal ranging signal;
- 'twoWay':  the ESLT "sees" the nominal ranging signal.]]>
      </xsd:appinfo>
         
    </xsd:annotation>
       
    <xsd:sequence>
          
      <xsd:element name="dopplerCompensation">
             
        <xsd:complexType>
                
          <xsd:attribute name="value" use="required">
                   
            <xsd:simpleType>
                      
        
              <xsd:restriction base="xsd:token">
                           
                <xsd:enumeration value="noCompensation"/>
                           
                <xsd:enumeration value="oneWay"/>
                           
                <xsd:enumeration value="twoWay"/>
                          
        
              </xsd:restriction>
                     
       
            </xsd:simpleType>
                  
          </xsd:attribute>
               
        </xsd:complexType>
            
      </xsd:element>
          
      <xsd:element name="rngType">
            
        <xsd:complexType>
                
          <xsd:annotation>
                   
            <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
              <![CDATA[choice]]>
            </xsd:appinfo>
                  
          </xsd:annotation>
               
          <xsd:choice>
                  
            <xsd:element name="toneCode">
                    
              <xsd:complexType>
                        
                <xsd:annotation>
                           
                  <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
                    <![CDATA[sequence]]>
                  </xsd:appinfo>
                          
                </xsd:annotation>
                       
                <xsd:sequence>
                          
                  <xsd:element name="toneFreq">
                             
                    <xsd:complexType>
                                
                      <xsd:attribute name="value" use="required">
                        <!--
           The engineering unit of this parameter is Hertz.
           -->
                                   
           
           
                        <xsd:simpleType>
                                      
                          <xsd:restriction base="xsd:integer">
                                         
                            <xsd:minInclusive value="100000"/>
                                         
                            <xsd:maxInclusive value="1500000"/>
                                        
                          </xsd:restriction>
                                     
                        </xsd:simpleType>
                                  
                      </xsd:attribute>
                               
                    </xsd:complexType>
                            
                  </xsd:element>
                          
                  <xsd:element name="rngCodeLength">
                             
                    <xsd:complexType>
                                
                      <xsd:attribute name="value" use="required">
                                   
           
                        <xsd:simpleType>
                                      
                          <xsd:restriction base="xsd:integer">
                                         
                            <xsd:minInclusive value="1"/>
                                         
                            <xsd:maxInclusive value="24"/>
                                        
                          </xsd:restriction>
                                     
                        </xsd:simpleType>
                                  
                      </xsd:attribute>
                               
                    </xsd:complexType>
                            
                  </xsd:element>
                          
                  <xsd:element name="codeComponentAndToneXmitDuration">
                            
                    <xsd:complexType>
                                
                      <xsd:annotation>
                                   
                        <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
                          <![CDATA[sequence]]>
                        </xsd:appinfo>
                                  
                      </xsd:annotation>
                               
                      <xsd:sequence>
                                  
                        <xsd:element name="codeComponent">
                                     
                          <xsd:complexType>
                                        
                            <xsd:attribute name="value" use="required">
                              <!--
             The engineering unit of this element is second.
             -->
                                           
             
             
                              <xsd:simpleType>
                                              
                                <xsd:restriction base="xsd:integer">
                                                 
                                  <xsd:minInclusive value="1"/>
                                                 
                                  <xsd:maxInclusive value="10000"/>
                                                
                                </xsd:restriction>
                                             
                              </xsd:simpleType>
                                          
                            </xsd:attribute>
                                       
                          </xsd:complexType>
                                    
                        </xsd:element>
                                  
                        <xsd:element name="toneOnly">
                                    
                          <xsd:complexType>
                                        
                            <xsd:annotation>
                                           
                              <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
                                <![CDATA[choice]]>
                              </xsd:appinfo>
                                          
                            </xsd:annotation>
                                       
                            <xsd:choice>
                                          
                              <xsd:element name="maxToneOnlyDuratiom">
                                             
                                <xsd:complexType>
                                                
                                  <xsd:attribute name="value" use="required">
                                    <!--
               The engineering unit of this element is second. The transmission of the code sequence is restarted when either the toneOnlyDuration has expired or the RngXmit FR is notified by the RngAndDopplerExtraction FR that a range measurement has been completed. 
               -->
                                                   
               
               
                                    <xsd:simpleType>
                                                      
                                      <xsd:restriction base="xsd:integer">
                                                         
                                        <xsd:minInclusive value="1"/>
                                                         
                                        <xsd:maxInclusive value="100000"/>
                                                        
                                      </xsd:restriction>
                                                     
                                    </xsd:simpleType>
                                                  
                                  </xsd:attribute>
                                               
                                </xsd:complexType>
                                            
                              </xsd:element>
                                          
                              <xsd:element name="unlimitedToneOnlyDuration">
                                             
                                <xsd:complexType>
                                                
                                  <xsd:attribute name="value" use="required">
                                    <!--
               The ranging system remains in tone-only mode until either tone lock is lost or the ranging system is disabled.
               -->
                                                   
               
               
                                    <xsd:simpleType>
                                                     
                                      <xsd:restriction base="NULL"/>
                                                     
                                    </xsd:simpleType>
                                                  
                                  </xsd:attribute>
                                               
                                </xsd:complexType>
                                            
                              </xsd:element>
                                          
                              <xsd:element name="ambiguityResolutionFailure">
                                <!--
            On occurence of an ambiguity resolution failure notified by the RngAndDopplerExtraction FR the RngXmit FR can either be paused or the transmission of the code sequence can be restarted.
            -->
                                            
            
                                <xsd:complexType>
                                                
                                  <xsd:annotation>
                                                   
                                    <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
                                      <![CDATA[choice]]>
                                    </xsd:appinfo>
                                                   
                                    <xsd:appinfo source="SemanticDefinition">
                                      <![CDATA[On occurence of an ambiguity resolution failure notified by the RngAndDopplerExtraction FR the RngXmit FR can either be paused or the transmission of the code sequence can be restarted.]]>
                                    </xsd:appinfo>
                                                  
                                  </xsd:annotation>
                                               
                                  <xsd:choice>
                                                  
                                    <xsd:element name="pauseRngXmit">
                                                     
                                      <xsd:complexType>
                                                        
                                        <xsd:attribute name="value" use="required">
                                          <!--
                 The parameter rngXmitMod is set to 'disabled'.
                 -->
                                                           
                 
                 
                                          <xsd:simpleType>
                                                             
                                            <xsd:restriction base="NULL"/>
                                                             
                                          </xsd:simpleType>
                                                          
                                        </xsd:attribute>
                                                       
                                      </xsd:complexType>
                                                    
                                    </xsd:element>
                                                  
                                    <xsd:element name="restartCodeSequence">
                                                     
                                      <xsd:complexType>
                                                        
                                        <xsd:attribute name="value" use="required">
                                          <!--
                 The transmission of the code sequence is restarted.
                 -->
                                                           
                 
                 
                                          <xsd:simpleType>
                                                             
                                            <xsd:restriction base="NULL"/>
                                                             
                                          </xsd:simpleType>
                                                          
                                        </xsd:attribute>
                                                       
                                      </xsd:complexType>
                                                    
                                    </xsd:element>
                                                 
                                  </xsd:choice>
                                               
                                </xsd:complexType>
                                            
                              </xsd:element>
                                         
                            </xsd:choice>
                                       
                          </xsd:complexType>
                                    
                        </xsd:element>
                                 
                      </xsd:sequence>
                               
                    </xsd:complexType>
                            
                  </xsd:element>
                         
                </xsd:sequence>
                       
              </xsd:complexType>
                    
            </xsd:element>
                  
            <xsd:element name="pseudoNoise">
                    
              <xsd:complexType>
                        
                <xsd:annotation>
                           
                  <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
                    <![CDATA[sequence]]>
                  </xsd:appinfo>
                          
                </xsd:annotation>
                       
                <xsd:sequence>
                          
                  <xsd:element name="chipRate">
                            
                    <xsd:complexType>
                                
                      <xsd:annotation>
                                   
                        <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
                          <![CDATA[choice]]>
                        </xsd:appinfo>
                                  
                      </xsd:annotation>
                               
                      <xsd:choice>
                                  
                        <xsd:element name="ccsds">
                                    
                          <xsd:complexType>
                                        
                            <xsd:annotation>
                                           
                              <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
                                <![CDATA[choice]]>
                              </xsd:appinfo>
                                          
                            </xsd:annotation>
                                       
                            <xsd:choice>
                                          
                              <xsd:element name="i-is-2">
                                            
                                <xsd:complexType>
                                                
                                  <xsd:annotation>
                                                   
                                    <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
                                      <![CDATA[sequence]]>
                                    </xsd:appinfo>
                                                  
                                  </xsd:annotation>
                                               
                                  <xsd:sequence>
                                                  
                                    <xsd:element name="i">
                                                     
                                      <xsd:complexType>
                                                        
                                        <xsd:attribute name="value" use="required">
                                                           
                 
                                          <xsd:simpleType>
                                                              
                                            <xsd:restriction base="xsd:integer">
                                                               
                                              <xsd:pattern value="2"/>
                                                                
                                            </xsd:restriction>
                                                             
                                          </xsd:simpleType>
                                                          
                                        </xsd:attribute>
                                                       
                                      </xsd:complexType>
                                                    
                                    </xsd:element>
                                                  
                                    <xsd:element name="k">
                                                     
                                      <xsd:complexType>
                                                        
                                        <xsd:attribute name="value" use="required">
                                                           
                 
                                          <xsd:simpleType>
                                                              
                                            <xsd:restriction base="xsd:integer">
                                                                 
                                              <xsd:minInclusive value="8"/>
                                                                 
                                              <xsd:maxInclusive value="10"/>
                                                                
                                            </xsd:restriction>
                                                             
                                          </xsd:simpleType>
                                                          
                                        </xsd:attribute>
                                                       
                                      </xsd:complexType>
                                                    
                                    </xsd:element>
                                                 
                                  </xsd:sequence>
                                               
                                </xsd:complexType>
                                            
                              </xsd:element>
                                          
                              <xsd:element name="k-is-6">
                                            
                                <xsd:complexType>
                                                
                                  <xsd:annotation>
                                                   
                                    <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
                                      <![CDATA[sequence]]>
                                    </xsd:appinfo>
                                                  
                                  </xsd:annotation>
                                               
                                  <xsd:sequence>
                                                  
                                    <xsd:element name="i">
                                                     
                                      <xsd:complexType>
                                                        
                                        <xsd:attribute name="value" use="required">
                                                           
                 
                                          <xsd:simpleType>
                                                              
                                            <xsd:restriction base="xsd:integer">
                                                               
                                              <xsd:pattern value="1|2|3|4|5|6|7|8|9|10|11|12|16|32|64"/>
                                                                
                                            </xsd:restriction>
                                                             
                                          </xsd:simpleType>
                                                          
                                        </xsd:attribute>
                                                       
                                      </xsd:complexType>
                                                    
                                    </xsd:element>
                                                  
                                    <xsd:element name="k">
                                                     
                                      <xsd:complexType>
                                                        
                                        <xsd:attribute name="value" use="required">
                                                           
                 
                                          <xsd:simpleType>
                                                              
                                            <xsd:restriction base="xsd:integer">
                                                               
                                              <xsd:pattern value="6"/>
                                                                
                                            </xsd:restriction>
                                                             
                                          </xsd:simpleType>
                                                          
                                        </xsd:attribute>
                                                       
                                      </xsd:complexType>
                                                    
                                    </xsd:element>
                                                 
                                  </xsd:sequence>
                                               
                                </xsd:complexType>
                                            
                              </xsd:element>
                                         
                            </xsd:choice>
                                       
                          </xsd:complexType>
                                    
                        </xsd:element>
                                  
                        <xsd:element name="nonCcsds">
                                     
                          <xsd:complexType>
                                        
                            <xsd:attribute name="value" use="required">
                              <!--
             The engineering unit of this element is chips per second.
             -->
                                           
             
             
                              <xsd:simpleType>
                                              
                                <xsd:restriction base="xsd:integer">
                                                 
                                  <xsd:minInclusive value="30000"/>
                                                 
                                  <xsd:maxInclusive value="17000000"/>
                                                
                                </xsd:restriction>
                                             
                              </xsd:simpleType>
                                          
                            </xsd:attribute>
                                       
                          </xsd:complexType>
                                    
                        </xsd:element>
                                 
                      </xsd:choice>
                               
                    </xsd:complexType>
                            
                  </xsd:element>
                          
                  <xsd:element name="codeType">
                             
                    <xsd:complexType>
                                
                      <xsd:attribute name="value" use="required">
                                   
                        <xsd:simpleType>
                                      
            
                          <xsd:restriction base="xsd:token">
                                           
                            <xsd:enumeration value="t2b"/>
                                           
                            <xsd:enumeration value="t4b"/>
                                          
            
                          </xsd:restriction>
                                     
           
                        </xsd:simpleType>
                                  
                      </xsd:attribute>
                               
                    </xsd:complexType>
                            
                  </xsd:element>
                          
                  <xsd:element name="modulationSense">
                    <!--
        Positive means that positive input data advance the carrier phase.
        -->
                            
        
                    <xsd:complexType>
                                
                      <xsd:annotation>
                                   
                        <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
                          <![CDATA[choice]]>
                        </xsd:appinfo>
                                   
                        <xsd:appinfo source="SemanticDefinition">
                          <![CDATA[Positive means that positive input data advance the carrier phase.]]>
                        </xsd:appinfo>
                                  
                      </xsd:annotation>
                               
                      <xsd:choice>
                                  
                        <xsd:element name="ccsds">
                                     
                          <xsd:complexType>
                                        
                            <xsd:attribute name="value" use="required">
                              <!--
             The modulation sense is positive.
             -->
                                           
             
             
                              <xsd:simpleType>
                                             
                                <xsd:restriction base="NULL"/>
                                             
                              </xsd:simpleType>
                                          
                            </xsd:attribute>
                                       
                          </xsd:complexType>
                                    
                        </xsd:element>
                                  
                        <xsd:element name="nonCcsds">
                                     
                          <xsd:complexType>
                                        
                            <xsd:attribute name="value" use="required">
                              <!--
             The modulation sense is negative.
             -->
                                           
             
             
                              <xsd:simpleType>
                                             
                                <xsd:restriction base="NULL"/>
                                             
                              </xsd:simpleType>
                                          
                            </xsd:attribute>
                                       
                          </xsd:complexType>
                                    
                        </xsd:element>
                                 
                      </xsd:choice>
                               
                    </xsd:complexType>
                            
                  </xsd:element>
                         
                </xsd:sequence>
                       
              </xsd:complexType>
                    
            </xsd:element>
                 
          </xsd:choice>
               
        </xsd:complexType>
            
      </xsd:element>
         
    </xsd:sequence>
       
  </xsd:complexType>
  
  <!--
This parameter reports the nominal PN ranging chip rate in Hertz which is given by
 the transmitted carrier frequency and the parameters k and i (see the parameter
 rngXmitRngType) and shall be calculated as specified in Table 3.1 of CCSDS 414.1.


-->
   
  <!--
 The engineering unit of this parameter is chips per second.
 -->
   
 
  <xsd:complexType name="RngXmitPnChipRateNamed">
      
    <xsd:annotation>
         
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter reports the nominal PN ranging chip rate in Hertz which is given by the transmitted carrier frequency and the parameters k and i (see the parameter rngXmitRngType) and shall be calculated as specified in Table 3.1 of CCSDS 414.1.

]]>
      </xsd:appinfo>
        
    </xsd:annotation>
      
    <xsd:complexContent>
         
      <xsd:extension base="ParameterBaseType">
            
        <xsd:attribute name="value" type="RngXmitPnChipRate" use="required"/>
            
        <xsd:attribute fixed="rngXmitPnChipRate" name="classifier" type="xsd:string"/>
            
        <xsd:attribute fixed="1.3.112.4.4.2.1.20101.1.4.1.1" name="oid" type="ObjectIdentifier"/>
           
      </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
   
 
  <xsd:simpleType name="RngXmitPnChipRate">
      
    <xsd:restriction base="xsd:integer">
         
      <xsd:minInclusive value="30000"/>
         
      <xsd:maxInclusive value="17000000"/>
        
    </xsd:restriction>
     
  </xsd:simpleType>
  
  <!--
This event notifies any change of the rngXmitResourceStat parameter value.
-->
  
  <!--
The event value reports the rngXmitResourceStat parameter value that applies since
 the notified rngXmitStatChange event has occurred.
-->
   
  <xsd:simpleType name="RngXmitResourceStatChangeEvtValue">
      
    <xsd:restriction base="RngXmitResourceStat"/>
     
  </xsd:simpleType>
  
  <!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
  
  <!--
The messages passed by means of the rngXmitOperatorNotify event are classified in
 terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and searching
 for specific messages, a unique numerical identifier is assigned to each message
 string. The messages are free text such that equipment specific issues can be reported.
 
-->
   
  <xsd:complexType name="RngXmitOperatorNotifyMessage">
      
    <xsd:complexContent>
         
      <xsd:extension base="OperatorNotifyMessage">
   </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
  
  <!--
This directive permits setting of the controllable parameters of the RngXmit FR type.
 
-->
  
  <!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the RngXmit
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.

-->
   
  <xsd:complexType name="RngXmitContrParamIdsAndValuesDirQual">
      
    <xsd:complexContent>
         
      <xsd:extension base="DirectiveQualifier">
   </xsd:extension>
        
    </xsd:complexContent>
     
  </xsd:complexType>
   
</xsd:schema>
