902SANA/902SchemasAndExamples/901x03FrmSchemas/TcMcMux.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:frm" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" ecore:documentRoot="Functional Resources" elementFormDefault="qualified" targetNamespace="urn:ccsds:schema:frm" version="1.0.0">
  <xsd:include schemaLocation="frm_type_definitions.xsd"/>
  <xsd:include schemaLocation="AbstractFrTypes.xsd"/>
  
  <!--
This FR accepts TC frames without FECF belonging to one Master Channel.
It provides
 all TC frames for one physical channel which optionally contain FECFs.
-->
  <xsd:element name="TcMcMuxElement" substitutionGroup="functionalResourceInstance" type="TcMcMuxType"/>
  <xsd:complexType name="TcMcMuxType">
    <xsd:complexContent>
      <xsd:extension base="FunctionalResourceInstance">
        <xsd:all>
          <xsd:element minOccurs="0" name="tcMcMuxMaxNumberOfFramesPerCltu" type="TcMcMuxMaxNumberOfFramesPerCltuNamed"/>
          <xsd:element minOccurs="0" name="tcMcMuxMaxFrameLength" type="TcMcMuxMaxFrameLengthNamed"/>
          <xsd:element minOccurs="0" name="tcMcMuxContr" type="TcMcMuxContrNamed"/>
          <xsd:element minOccurs="0" name="tcMcMuxPresenceOfFecf" type="TcMcMuxPresenceOfFecfNamed"/>
        </xsd:all>
        <xsd:attribute fixed="1.3.112.4.4.2.1.40100" name="frTypeOid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:element name="tcMcMuxMaxNumberOfFramesPerCltu" substitutionGroup="frmParameter" type="TcMcMuxMaxNumberOfFramesPerCltuNamed"/>
  <xsd:element name="tcMcMuxMaxFrameLength" substitutionGroup="frmParameter" type="TcMcMuxMaxFrameLengthNamed"/>
  <xsd:element name="tcMcMuxContr" substitutionGroup="frmParameter" type="TcMcMuxContrNamed"/>
  <xsd:element name="tcMcMuxPresenceOfFecf" substitutionGroup="frmParameter" type="TcMcMuxPresenceOfFecfNamed"/>
  
  <!--
This enumerated parameter reports the TcMcMux resource status and can take on four
 values:
- 'configured':  the associated equipment has been configured;
- 'operational':
  the associated equipment is active;
- 'interrupted':  a failure has been detected;
-
 'halted':  the associated equipment has been taken out of service.
-->
  <xsd:complexType name="TcMcMuxResourceStatNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This enumerated parameter reports the TcMcMux resource status and can take on four values:
- 'configured':  the associated equipment has been configured;
- 'operational':  the associated equipment is active;
- 'interrupted':  a failure has been detected;
- 'halted':  the associated equipment has been taken out of service.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TcMcMuxResourceStat" use="required"/>
        <xsd:attribute fixed="tcMcMuxResourceStat" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.40100.1.1.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TcMcMuxResourceStat">
    <xsd:restriction base="ResourceStat"/>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the maximum number of TC MC frames that may
 be converted to a single CLTU. 

The value of tcMcMuxMaxNumberOfFramesPerCltu
 may be greater than 1 only if the value of the tcPlopSyncInputDataFormat: frame:
 maxNumberOfCltuRepetitions parameter of the underlying TcPlopSyncAndChnlEncode FR
 instance is equal to 1. If the value of the tcPlopSyncInputDataFormat: frame: maxNumberOfCltuRepetitions
 parameter of the underlying TcPlopSyncAndChnlEncode FR instance is greater than
 1, then the value of tcMcMuxMaxNumberOfFramesPerCltu must be equal to 1.

NOTE:
 Before a configuration that contains an instance of the TcVcMux FR is used operationally,
 Service Management is expected to enforce the constraint that the product of tcMcMuxMaxFrameLength
 and tcMcMuxMaxNumberOfFramesPerCltu represents a set of TC frames that, when encoded
 into a single CLTU using the coding scheme configured for the underlying TcPlopSyncAndChnlEncode
 FR instance, is less than or equal to the value of the tcPlopSyncMaxCltuLength parameter
 of that TcPlopSyncAndChnlEncode FR instance.
-->
   
  <xsd:complexType name="TcMcMuxMaxNumberOfFramesPerCltuNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the maximum number of TC MC frames that may be converted to a single CLTU. 

The value of tcMcMuxMaxNumberOfFramesPerCltu may be greater than 1 only if the value of the tcPlopSyncInputDataFormat: frame: maxNumberOfCltuRepetitions parameter of the underlying TcPlopSyncAndChnlEncode FR instance is equal to 1. If the value of the tcPlopSyncInputDataFormat: frame: maxNumberOfCltuRepetitions parameter of the underlying TcPlopSyncAndChnlEncode FR instance is greater than 1, then the value of tcMcMuxMaxNumberOfFramesPerCltu must be equal to 1.

NOTE: Before a configuration that contains an instance of the TcVcMux FR is used operationally, Service Management is expected to enforce the constraint that the product of tcMcMuxMaxFrameLength and tcMcMuxMaxNumberOfFramesPerCltu represents a set of TC frames that, when encoded into a single CLTU using the coding scheme configured for the underlying TcPlopSyncAndChnlEncode FR instance, is less than or equal to the value of the tcPlopSyncMaxCltuLength parameter of that TcPlopSyncAndChnlEncode FR instance.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TcMcMuxMaxNumberOfFramesPerCltu" use="required"/>
        <xsd:attribute fixed="tcMcMuxMaxNumberOfFramesPerCltu" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.40100.1.2.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:simpleType name="TcMcMuxMaxNumberOfFramesPerCltu">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the maximum length in octets of a TC MC frame
 the FR accepts for further processing. The length refers to the frame length after
 insertion of the Frame Error Control Field if applicable. 

NOTE: Before a configuration
 that contains an instance of the TcVcMux FR is used operationally, Service Management
 is expected to confirm that the product of tcMcMuxMaxFrameLength and tcMcMuxMaxNumberOfFramesPerCltu
 represents a set of TC frames that, when encoded into a single CLTU using the coding
 scheme configured for the underlying TcPlopSyncAndChnlEncode FR instance, is less
 than or equal to the value of the tcPlopSyncMaxCltuLength parameter of that TcPlopSyncAndChnlEncode
 FR instance.
-->
   
  <!--
 The engineering unit of this parameter is octet.
 -->
  <xsd:complexType name="TcMcMuxMaxFrameLengthNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the maximum length in octets of a TC MC frame the FR accepts for further processing. The length refers to the frame length after insertion of the Frame Error Control Field if applicable. 

NOTE: Before a configuration that contains an instance of the TcVcMux FR is used operationally, Service Management is expected to confirm that the product of tcMcMuxMaxFrameLength and tcMcMuxMaxNumberOfFramesPerCltu represents a set of TC frames that, when encoded into a single CLTU using the coding scheme configured for the underlying TcPlopSyncAndChnlEncode FR instance, is less than or equal to the value of the tcPlopSyncMaxCltuLength parameter of that TcPlopSyncAndChnlEncode FR instance.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TcMcMuxMaxFrameLength" use="required"/>
        <xsd:attribute fixed="tcMcMuxMaxFrameLength" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.40100.1.3.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:simpleType name="TcMcMuxMaxFrameLength">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="1024"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports how the TC Master Channels are multiplexed
 onto the physical channel. 
In case tcMcMuxContr = ‘fifo’, no further specification
 applies. 
If tcMcMuxContr = 'absolutePriority', then the associated configuration
 value is a sequence of the SCIDs used on the telecommand link where the first SCID
 in the sequence has the highest priority, the second has the second-highest priority
 etc. Consequently the sequence has as many elements as Spacecraft Identifiers are
 permitted on the given physical channel. 
If tcMcMuxContr = 'pollingVector', then
 the associated sequence consists of up to 3072 elements where each element is a
 SCID. 
-->
   
  <xsd:complexType name="TcMcMuxContrNamed">
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:sequence>
          <xsd:element name="TcMcMuxContr" type="TcMcMuxContr"/>
        </xsd:sequence>
        <xsd:attribute fixed="1.3.112.4.4.2.1.40100.1.4.1.1" name="oid" type="ObjectIdentifier"/>
        <xsd:attribute fixed="tcMcMuxContr" name="classifier" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TcMcMuxContr">
    <xsd:annotation>
      <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
        <![CDATA[choice]]>
      </xsd:appinfo>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports how the TC Master Channels are multiplexed onto the physical channel. 
In case tcMcMuxContr = ‘fifo’, no further specification applies. 
If tcMcMuxContr = 'absolutePriority', then the associated configuration value is a sequence of the SCIDs used on the telecommand link where the first SCID in the sequence has the highest priority, the second has the second-highest priority etc. Consequently the sequence has as many elements as Spacecraft Identifiers are permitted on the given physical channel. 
If tcMcMuxContr = 'pollingVector', then the associated sequence consists of up to 3072 elements where each element is a SCID. ]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="fifo">
        <xsd:complexType>
          <xsd:attribute name="value" use="required">
                   
            <xsd:simpleType>
              <xsd:restriction base="NULL"/>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="absolutePriority">
            
        <xsd:complexType>
          <xsd:sequence maxOccurs="1024" minOccurs="1">
            <xsd:element name="absolutePriorityElement">
                     
              <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="1023"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pollingVector">
            
        <xsd:complexType>
          <xsd:sequence maxOccurs="3072" minOccurs="1">
            <xsd:element name="pollingVectorElement">
                     
              <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="1023"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  
  <!--
This enumerated parameter configures and reports if the FR inserts the Frame Error
 Control Field into each frame before passing it to the TcPlopSyncAndChnlEncode FR.
 This parameter can take on two values:
- 'present';
- 'absent'.

The details
 regarding the FECF are specified in CCSDS 232.0-B-2. 
-->
   
  <xsd:complexType name="TcMcMuxPresenceOfFecfNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This enumerated parameter configures and reports if the FR inserts the Frame Error Control Field into each frame before passing it to the TcPlopSyncAndChnlEncode FR. This parameter can take on two values:
- 'present';
- 'absent'.

The details regarding the FECF are specified in CCSDS 232.0-B-2. ]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TcMcMuxPresenceOfFecf" use="required"/>
        <xsd:attribute fixed="tcMcMuxPresenceOfFecf" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.40100.1.5.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TcMcMuxPresenceOfFecf">
      
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Present"/>
          
      <xsd:enumeration value="Absent"/>
          
    </xsd:restriction>
     
  </xsd:simpleType>
  
  <!--
This event notifies any change of the tcMcMuxResourceStat parameter value.
-->
  
  <!--
The event value reports the tcMcMuxResourceStat parameter value that applies since
 the notified tcMcMuxResourceStatChange event has occurred.
-->
  <xsd:simpleType name="TcMcMuxResourceStatChangeEvtValue">
    <xsd:restriction base="TcMcMuxResourceStat"/>
  </xsd:simpleType>
  
  <!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
  
  <!--
The messages passed by means of the tcMcMuxOperatorNotify event are classified in
 terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and searching
 for specific messages, a unique numerical identifier is assigned to each message
 string. The messages are free text such that equipment specific issues can be reported.
 
-->
  <xsd:complexType name="TcMcMuxOperatorNotifyMessage">
    <xsd:complexContent>
      <xsd:extension base="OperatorNotifyMessage"/>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!--
This directive permits setting of the controllable parameters of the TcMcMux FR type.
  
-->
  
  <!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the TcMcMux
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.

-->
  <xsd:complexType name="TcMcMuxContrParamIdsAndValuesDirQual">
    <xsd:complexContent>
      <xsd:extension base="DirectiveQualifier"/>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!--
When receiving this directive, the FR discards all currently buffered data units
 that have been received through the transfer service instance identified in the
 directive qualifier. 
-->
  
  <!--
The qualifier of this directive specifies the service-instance-id of the SLE Transfer
 Service instance or the CSTS instance for which the data units are to discarded
 when the tcMcMuxDiscardDataUnits directive is invoked. 
-->
   
  <xsd:complexType name="TcMcMuxDiscardDataUnitsDirQual">
    <xsd:annotation>
      <xsd:appinfo ecore:key="frTypeInfo" source="http:///org/eclipse/emf/ecore/util/ExtendedMetaData">
        <![CDATA[choice]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="sleServiceInstanceId">
        <xsd:complexType>
          <xsd:attribute name="value" type="SleSvcInstanceId" use="required"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cstsServiveInstanceId" type="CstsSvcInstanceId"/>
    </xsd:choice>
  </xsd:complexType>
  
</xsd:schema>
