902SANA/902SchemasAndExamples/901x03FrmSchemas/TdCstsProvider.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:frm" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" ecore:documentRoot="Functional Resources" elementFormDefault="qualified" targetNamespace="urn:ccsds:schema:frm" version="1.0.0">
  <xsd:include schemaLocation="frm_type_definitions.xsd"/>
  <xsd:include schemaLocation="AbstractFrTypes.xsd"/>
  
  <!--
The TD-CSTS provider transfers certain types of periodically measured tracking data
 as soon as they are generated by a Cross Support Complex or anytime thereafter.
 These tracking data are associated with the signal-related and angle-related TDM
 keyword categories as specified in CCSDS 503.0-B-1. 
-->
  <xsd:element name="TdCstsProviderElement" substitutionGroup="functionalResourceInstance" type="TdCstsProviderType"/>
  <xsd:complexType name="TdCstsProviderType">
    <xsd:complexContent>
      <xsd:extension base="FunctionalResourceInstance">
        <xsd:all>
          <xsd:element minOccurs="0" name="tdSvcInstanceId" type="TdSvcInstanceIdNamed"/>
          <xsd:element minOccurs="0" name="tdInitiatorId" type="TdInitiatorIdNamed"/>
          <xsd:element minOccurs="0" name="tdResponderId" type="TdResponderIdNamed"/>
          <xsd:element minOccurs="0" name="tdResponderPortId" type="TdResponderPortIdNamed"/>
          <xsd:element minOccurs="0" name="tdResponseTimeout" type="TdResponseTimeoutNamed"/>
          <xsd:element minOccurs="0" name="tdDeliveryMode" type="TdDeliveryModeNamed"/>
          <xsd:element minOccurs="0" name="tdRtnBufferSize" type="TdRtnBufferSizeNamed"/>
          <xsd:element minOccurs="0" name="tdDeliveryLatencyLimit" type="TdDeliveryLatencyLimitNamed"/>
          <xsd:element minOccurs="0" name="tdNamedLabelLists" type="TdNamedLabelListsNamed"/>
          <xsd:element minOccurs="0" name="tdPathList" type="TdPathListNamed"/>
        </xsd:all>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700" name="frTypeOid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:element name="tdSvcInstanceId" substitutionGroup="frmParameter" type="TdSvcInstanceIdNamed"/>
  <xsd:element name="tdInitiatorId" substitutionGroup="frmParameter" type="TdInitiatorIdNamed"/>
  <xsd:element name="tdResponderId" substitutionGroup="frmParameter" type="TdResponderIdNamed"/>
  <xsd:element name="tdResponderPortId" substitutionGroup="frmParameter" type="TdResponderPortIdNamed"/>
  <xsd:element name="tdResponseTimeout" substitutionGroup="frmParameter" type="TdResponseTimeoutNamed"/>
  <xsd:element name="tdDeliveryMode" substitutionGroup="frmParameter" type="TdDeliveryModeNamed"/>
  <xsd:element name="tdRtnBufferSize" substitutionGroup="frmParameter" type="TdRtnBufferSizeNamed"/>
  <xsd:element name="tdDeliveryLatencyLimit" substitutionGroup="frmParameter" type="TdDeliveryLatencyLimitNamed"/>
  <xsd:element name="tdNamedLabelLists" substitutionGroup="frmParameter" type="TdNamedLabelListsNamed"/>
  <xsd:element name="tdPathList" substitutionGroup="frmParameter" type="TdPathListNamed"/>
  
  <!--
This parameter reports the production status of the Tracking Data service instance.
 This parameter can take on one of four values:
 - 'configured': (a) in real-time
 mode, configuration of the resource performing the TDM Segment Generation function
 has been completed, (b) in complete mode, configuration of the resource performing
 the TDM Recording Buffer function has been completed;
 - ‘operational’: (a) in
 real-time mode, tthe resource performing the TDM Segment Generation function is
 ‘operational’, (b) in complete mode, the resource performing the TDM Recording Buffer
 function is ‘operational;
 - ‘interrupted’: (a) in real-time mode, tthe resource
 performing the TDM Segment Generation function function has been stopped because
 of a condition that may be temporary, (b) in complete mode, the resource performing
 the TDM Recording Buffer function function has been stopped because of a condition
 that may be temporary;
 - ‘halted’: (a) in real-time mode, tthe resource performing
 the TDM Segment Generation function function has been stopped by management action,
 (b) in complete mode, the resource performing the TDM Recording Buffer function
 function has been stopped by management action.
-->
  <xsd:complexType name="TdProdStatNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter reports the production status of the Tracking Data service instance. This parameter can take on one of four values:
 - 'configured': (a) in real-time mode, configuration of the resource performing the TDM Segment Generation function has been completed, (b) in complete mode, configuration of the resource performing the TDM Recording Buffer function has been completed;
 - ‘operational’: (a) in real-time mode, tthe resource performing the TDM Segment Generation function is ‘operational’, (b) in complete mode, the resource performing the TDM Recording Buffer function is ‘operational;
 - ‘interrupted’: (a) in real-time mode, tthe resource performing the TDM Segment Generation function function has been stopped because of a condition that may be temporary, (b) in complete mode, the resource performing the TDM Recording Buffer function function has been stopped because of a condition that may be temporary;
 - ‘halted’: (a) in real-time mode, tthe resource performing the TDM Segment Generation function function has been stopped by management action, (b) in complete mode, the resource performing the TDM Recording Buffer function function has been stopped by management action.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TdProdStat" use="required"/>
        <xsd:attribute fixed="tdProdStat" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700.1.1.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TdProdStat">
    <xsd:restriction base="ProdStat"/>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the identifier of the given service instance.
 
-->
  <xsd:complexType name="TdSvcInstanceIdNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the identifier of the given service instance. ]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:sequence>
          <xsd:element name="TdSvcInstanceId" type="TdSvcInstanceId"/>
        </xsd:sequence>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700.1.2.1.1" name="oid" type="ObjectIdentifier"/>
        <xsd:attribute fixed="tdSvcInstanceId" name="classifier" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TdSvcInstanceId">
    <xsd:complexContent>
      <xsd:extension base="CstsSvcInstanceId"/>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!--
This enumerated parameter reports the status of the given instance of the Tracking
 Data service. It can take on the following values:
- 'unbound':  all resources
 required to enable the provision of the service have been allocated, and all objects
 required to provide the service have been instantiated. However, no association
 yet exists between the user and the provider, i.e., the transfer service provider
 port is not bound;
- 'boundReady':  an association has been established between
 the user and the provider, and they may interact by means of the service operations.
 The user may invoke the GET invocation of the Information Query procedure and receive
 the requested parameter values. 
- 'boundActive':  this state resembles state ‘boundReady’,
 except that in addition the user also receives periodically the requested tracking
 data. The service instance remains in the 'boundActive' state until the user either
 invokes (a) the STOP operation to cause the service to cease sending tracking data
 and to transition back to state 'boundReady' or (b) the PEER-ABORT invocation to
 cause the service to transition back to the 'unbound' state. 
-->
  <xsd:complexType name="TdSvcInstanceStateNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This enumerated parameter reports the status of the given instance of the Tracking Data service. It can take on the following values:
- 'unbound':  all resources required to enable the provision of the service have been allocated, and all objects required to provide the service have been instantiated. However, no association yet exists between the user and the provider, i.e., the transfer service provider port is not bound;
- 'boundReady':  an association has been established between the user and the provider, and they may interact by means of the service operations. The user may invoke the GET invocation of the Information Query procedure and receive the requested parameter values. 
- 'boundActive':  this state resembles state ‘boundReady’, except that in addition the user also receives periodically the requested tracking data. The service instance remains in the 'boundActive' state until the user either invokes (a) the STOP operation to cause the service to cease sending tracking data and to transition back to state 'boundReady' or (b) the PEER-ABORT invocation to cause the service to transition back to the 'unbound' state. ]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TdSvcInstanceState" use="required"/>
        <xsd:attribute fixed="tdSvcInstanceState" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700.1.3.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TdSvcInstanceState">
    <xsd:restriction base="StatefulCstsInstanceState"/>
  </xsd:simpleType>
  
  <!--
This parameter reports the identifier of the peer application, i.e., the authority
 on whose behalf the CSTS application entity is initiating an association with the
 TD-CSTS service provider. The provider performs access control based on this parameter.
 It may also serve as key to further security relevant information such as the authentication
 level and method and the related password.

Given the security relevance of this
 parameter, specific mechanisms for setting this parameter when the FR instance is
 created and for the transfer of associated security relevant data might be specified
 in a bilateral agreement between service user and service provider. Also the accessibility
 by an MD-CSTS instance may be restricted.
-->
  <xsd:complexType name="TdInitiatorIdNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter reports the identifier of the peer application, i.e., the authority on whose behalf the CSTS application entity is initiating an association with the TD-CSTS service provider. The provider performs access control based on this parameter. It may also serve as key to further security relevant information such as the authentication level and method and the related password.

Given the security relevance of this parameter, specific mechanisms for setting this parameter when the FR instance is created and for the transfer of associated security relevant data might be specified in a bilateral agreement between service user and service provider. Also the accessibility by an MD-CSTS instance may be restricted.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TdInitiatorId" use="required"/>
        <xsd:attribute fixed="tdInitiatorId" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700.1.4.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TdInitiatorId">
    <xsd:restriction base="AuthorityIdentifier"/>
  </xsd:simpleType>
  
  <!--
This parameter reports the identifier of the TD-CSTS application. The user performs
 access conrol based on this parameter. It may also serve as key to further security
 relevant information such as the authentication level and method and the related
 password.

Given the security relevance of this parameter, specific mechanisms
 for setting this parameter when the FR instance is created and for the transfer
 of associated security relevant data might be specified in a bilateral agreement
 between service user and service provider. Also the accessibility by an MD-CSTS
 instance may be restricted.
-->
  <xsd:complexType name="TdResponderIdNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter reports the identifier of the TD-CSTS application. The user performs access conrol based on this parameter. It may also serve as key to further security relevant information such as the authentication level and method and the related password.

Given the security relevance of this parameter, specific mechanisms for setting this parameter when the FR instance is created and for the transfer of associated security relevant data might be specified in a bilateral agreement between service user and service provider. Also the accessibility by an MD-CSTS instance may be restricted.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TdResponderId" use="required"/>
        <xsd:attribute fixed="tdResponderId" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700.1.5.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TdResponderId">
    <xsd:restriction base="AuthorityIdentifier"/>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the port identifier to be used by the user
 to connect to the service provider. However, the parameter value is only a logical
 name that needs to be translated into the technology-specific addressing information
 required to establish a connection with the specific port of the responding CSTS
 application entity. As such this parameter is irrelevant for the service provider,
 but it may be needed for certain kind of gateways between service user and service
 provider application.
-->
  <xsd:complexType name="TdResponderPortIdNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the port identifier to be used by the user to connect to the service provider. However, the parameter value is only a logical name that needs to be translated into the technology-specific addressing information required to establish a connection with the specific port of the responding CSTS application entity. As such this parameter is irrelevant for the service provider, but it may be needed for certain kind of gateways between service user and service provider application.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TdResponderPortId" use="required"/>
        <xsd:attribute fixed="tdResponderPortId" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700.1.6.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TdResponderPortId">
    <xsd:restriction base="ResponderPortId"/>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the setting of the maximum time period in seconds
 permitted from when a confirmed TD-CSTS operation is invoked until the return is
 received by the invoker.

If a response is not received within that time period,
 the invoker may invoke the PEER-ABORT operation.

-->
  <xsd:complexType name="TdResponseTimeoutNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the setting of the maximum time period in seconds permitted from when a confirmed TD-CSTS operation is invoked until the return is received by the invoker.

If a response is not received within that time period, the invoker may invoke the PEER-ABORT operation.
]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TdResponseTimeout" use="required"/>
        <xsd:attribute fixed="tdResponseTimeout" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700.1.7.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TdResponseTimeout">
    <xsd:restriction base="SvcResponseTimeout"/>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the data delivery mode of the Buffered Tracking
 Data Message Delivery procedure instance. See "Cross Support Transfer Service -
 Tracking Data Service", CCSDS 922.2.
-->
   
  <xsd:complexType name="TdDeliveryModeNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the data delivery mode of the Buffered Tracking Data Message Delivery procedure instance. See "Cross Support Transfer Service - Tracking Data Service", CCSDS 922.2.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TdDeliveryMode" use="required"/>
        <xsd:attribute fixed="tdDeliveryMode" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700.1.8.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TdDeliveryMode">
      
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Realtime"/>
          
      <xsd:enumeration value="Complete"/>
          
    </xsd:restriction>
     
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the return buffer size (in TRANSFER-DATA and/or
 NOTIFY invocations) to be used by the Buffered Tracking Data Message Delivery procedure
 instance. See "Cross Support Transfer Service - Tracking Data Service", CCSDS 922.2.
-->
  <xsd:complexType name="TdRtnBufferSizeNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the return buffer size (in TRANSFER-DATA and/or NOTIFY invocations) to be used by the Buffered Tracking Data Message Delivery procedure instance. See "Cross Support Transfer Service - Tracking Data Service", CCSDS 922.2.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TdRtnBufferSize" use="required"/>
        <xsd:attribute fixed="tdRtnBufferSize" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700.1.9.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TdRtnBufferSize">
    <xsd:restriction base="LongIntPos"/>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the delivery latency limit (in seconds) to
 be used by the Buffered Tracking Data Message Delivery procedure instance. See "Cross
 Support Transfer Service - Tracking Data Service", CCSDS 922.2.
-->
  <xsd:complexType name="TdDeliveryLatencyLimitNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the delivery latency limit (in seconds) to be used by the Buffered Tracking Data Message Delivery procedure instance. See "Cross Support Transfer Service - Tracking Data Service", CCSDS 922.2.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TdDeliveryLatencyLimit" use="required"/>
        <xsd:attribute fixed="tdDeliveryLatencyLimit" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700.1.10.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TdDeliveryLatencyLimit">
    <xsd:restriction base="ShortIntPos"/>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the set of named label lists to be used by
 the Information Query procedure instance. See "Cross Support Transfer Service -
 Tracking Data Service", CCSDS 922.2.
-->
  <xsd:complexType name="TdNamedLabelListsNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the set of named label lists to be used by the Information Query procedure instance. See "Cross Support Transfer Service - Tracking Data Service", CCSDS 922.2.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:sequence>
          <xsd:element name="TdNamedLabelLists" type="TdNamedLabelLists"/>
        </xsd:sequence>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700.1.11.1.1" name="oid" type="ObjectIdentifier"/>
        <xsd:attribute fixed="tdNamedLabelLists" name="classifier" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TdNamedLabelLists">
    <xsd:complexContent>
      <xsd:extension base="LabelListSet"/>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!--
This parameter configures and reports the list of trackingDataPathIds for which this
 TD service instance will report the TDM Atomic Segments. See the TdmSegmentGen FR.
-->
   
  <xsd:complexType name="TdPathListNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the list of trackingDataPathIds for which this TD service instance will report the TDM Atomic Segments. See the TdmSegmentGen FR.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:sequence>
          <xsd:element name="TdPathList" type="TdPathList"/>
        </xsd:sequence>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700.1.12.1.1" name="oid" type="ObjectIdentifier"/>
        <xsd:attribute fixed="tdPathList" name="classifier" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:complexType name="TdPathList">
    <xsd:sequence>
      <xsd:element name="element">
             
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!--
This parameter configures and reports the types of tracking data that are contained
 in TDM Atomic Segments transferred by this TD service instance. The parameter contains
 one or more of the following types:
 - dopplerInstantaneous;
 - dopplerIntegrated;

 - range;
 - carrierPower;
 - carrierPowerToNoiseSpectralDensity;
 - ranginghPowerToNoiseSpectralDensity;

 - receiveFrequency;
 - transmitFrequency;
 - transmitFrequencyRate;
 - antennaAngles
-->
   
  <xsd:complexType name="TdTrackingDataTypesNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the types of tracking data that are contained in TDM Atomic Segments transferred by this TD service instance. The parameter contains one or more of the following types:
 - dopplerInstantaneous;
 - dopplerIntegrated;
 - range;
 - carrierPower;
 - carrierPowerToNoiseSpectralDensity;
 - ranginghPowerToNoiseSpectralDensity;
 - receiveFrequency;
 - transmitFrequency;
 - transmitFrequencyRate;
 - antennaAngles]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:sequence>
          <xsd:element name="TdTrackingDataTypes" type="TdTrackingDataTypes"/>
        </xsd:sequence>
        <xsd:attribute fixed="1.3.112.4.4.2.1.80700.1.13.1.1" name="oid" type="ObjectIdentifier"/>
        <xsd:attribute fixed="tdTrackingDataTypes" name="classifier" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:complexType name="TdTrackingDataTypes">
    <xsd:sequence>
      <xsd:element name="element">
        <xsd:simpleType>
          <xsd:restriction base="TrackingDataType"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!--
This event notifies any change of the tdProdStat parameter value. 
-->
  
  <!--
The event value reports the tdProdStat parameter value that applies since the notified
 tdProdStatChange event has occurred.
-->
  <xsd:simpleType name="TdProdStatChangeEvtValue">
    <xsd:restriction base="TdProdStat"/>
  </xsd:simpleType>
  
  <!--
This event triggers when a one or more parameters controlling the configuration of
 service production of the service instance identified by the tdSvcInstanceId parameter
 have been changed.

This event carries no additional information.

-->
  
  <!--
The event-value of this event is 'empty'.
-->
  <xsd:simpleType name="TdProdConfigurationChangeEvtValue">
    <xsd:restriction base="ProdConfigurationChangeEvtValue"/>
  </xsd:simpleType>
  
  <!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
  
  <!--
The messages passed by means of the tdOperatorNotify event are classified in terms
 of severity as 'info', 'warning' or 'alarm'. To simplify filtering and searching
 for specific messages, a unique numerical identifier is assigned to each message
 string. The messages are free text such that equipment specific issues can be reported.
 
-->
  <xsd:complexType name="TdOperatorNotifyMessage">
    <xsd:complexContent>
      <xsd:extension base="OperatorNotifyMessage"/>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!--
This directive permits setting of the controllable parameters of the TdCstsProvider
 FR type. 
-->
  
  <!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a set of parameter identifier and parameter value pairs. To be valid, the
 parameter identifier must reference a controllable parameter of the TdCstsProvider
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.
-->
  <xsd:complexType name="TdContrParamIdsAndValuesDirQual">
    <xsd:complexContent>
      <xsd:extension base="DirectiveQualifier"/>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>
