902SANA/902SchemasAndExamples/901x03FrmSchemas/TdmRecordingBuffer.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:frm" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" ecore:documentRoot="Functional Resources" elementFormDefault="qualified" targetNamespace="urn:ccsds:schema:frm" version="1.0.0">
  <xsd:include schemaLocation="frm_type_definitions.xsd"/>
  <xsd:include schemaLocation="AbstractFrTypes.xsd"/>
  
  <!--
The TDM Recording Buffer is a repository of tracking data segments that are subsequently
 retrieved by Tracking Data CSTS Provider instances operating in the complete data
 transfer mode. 

The TdmRecordingBuffer FR corresponds to the Recording Buffer
 production entity defined in annex F3 of the Cross Suppport Transfer Service - Tracking
 Data Service Recommended Standard.

An instance of TdmRcordingBuffer records all
 TDM Atomic Segments generated by the TdmSegmentGen FR instance with which it is
 associated. A TdmRecordingBuffer instance makes available all TDM Atomic Segments
 that it retains to any TdCstsProvider FR instance with which it is associated.

The
 applied data retention policy is FIFO. 
-->
  <xsd:element name="TdmRecordingBufferElement" substitutionGroup="functionalResourceInstance" type="TdmRecordingBufferType"/>
  <xsd:complexType name="TdmRecordingBufferType">
    <xsd:complexContent>
      <xsd:extension base="FunctionalResourceInstance">
        <xsd:all>
          <xsd:element minOccurs="0" name="tdmRecordingBufferAllocatedStorage" type="TdmRecordingBufferAllocatedStorageNamed"/>
        </xsd:all>
        <xsd:attribute fixed="1.3.112.4.4.2.1.70200" name="frTypeOid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:element name="tdmRecordingBufferAllocatedStorage" substitutionGroup="frmParameter" type="TdmRecordingBufferAllocatedStorageNamed"/>
  
  <!--
This parameter reports the production status of the TdmRecordingBuffer FR. This FR
 reports such parameter although it does not represent a service provider. The reason
 is that the filling of the recording buffer depends on the underlying resources
 forming the production chain for the data to be collected by the recording buffer.
 Therefore the recording buffer shall, based on the status of the underlying production
 FRs, determine an aggregate production status the changes of which are recorded
 by the recording buffer synchronously with the TDM segments.  
This parameter can
 take on one of four values:
- 'configured':  all production functions needed to
 support the TDM segment recording have been configured;
 - ‘operational’:  all
 production functions have been enabled to generate the TDM segments to be recorded
 by the recording buffer;
 - ‘interrupted’:  one or more production functions have
 been stopped because of an error condition that may be temporary;
 - ‘halted’:
  one or more production functions have been stopped by management action.
-->
  <xsd:complexType name="TdmRecordingBufferProdStatNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter reports the production status of the TdmRecordingBuffer FR. This FR reports such parameter although it does not represent a service provider. The reason is that the filling of the recording buffer depends on the underlying resources forming the production chain for the data to be collected by the recording buffer. Therefore the recording buffer shall, based on the status of the underlying production FRs, determine an aggregate production status the changes of which are recorded by the recording buffer synchronously with the TDM segments.  
This parameter can take on one of four values:
- 'configured':  all production functions needed to support the TDM segment recording have been configured;
 - ‘operational’:  all production functions have been enabled to generate the TDM segments to be recorded by the recording buffer;
 - ‘interrupted’:  one or more production functions have been stopped because of an error condition that may be temporary;
 - ‘halted’:  one or more production functions have been stopped by management action.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TdmRecordingBufferProdStat" use="required"/>
        <xsd:attribute fixed="tdmRecordingBufferProdStat" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.70200.1.1.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TdmRecordingBufferProdStat">
    <xsd:restriction base="ProdStat"/>
  </xsd:simpleType>
  
  <!--
This enumerated parameter reports the TdmRecordingBuffer FR resource status and can
 take on four values:
- 'configured':  the associated resource has been configured;
-
 'operational': the associated resource is active;
- 'interrupted': a failure has
 been detected;
- 'halted': the associated resource has been taken out of service.

NOTE
 - Because it is an offline data storage FR, the resource status of the TdmRecordingBuffer
 FR is independent of any Service Package that it may be included in. 
-->
  <xsd:complexType name="TdmRecordingBufferResourceStatNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This enumerated parameter reports the TdmRecordingBuffer FR resource status and can take on four values:
- 'configured':  the associated resource has been configured;
- 'operational': the associated resource is active;
- 'interrupted': a failure has been detected;
- 'halted': the associated resource has been taken out of service.

NOTE - Because it is an offline data storage FR, the resource status of the TdmRecordingBuffer FR is independent of any Service Package that it may be included in. ]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TdmRecordingBufferResourceStat" use="required"/>
        <xsd:attribute fixed="tdmRecordingBufferResourceStat" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.70200.1.2.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TdmRecordingBufferResourceStat">
    <xsd:restriction base="ResourceStat"/>
  </xsd:simpleType>
  
  <!--
This parameter configures and reports the maximum storage (in megabytes) allocated
 to the FR instance for all TDM Atomic Segment types.
-->
  <xsd:complexType name="TdmRecordingBufferAllocatedStorageNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter configures and reports the maximum storage (in megabytes) allocated to the FR instance for all TDM Atomic Segment types.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TdmRecordingBufferAllocatedStorage" use="required"/>
        <xsd:attribute fixed="tdmRecordingBufferAllocatedStorage" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.70200.1.3.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TdmRecordingBufferAllocatedStorage">
    <xsd:restriction base="LongIntPos"/>
  </xsd:simpleType>
  
  <!--
This parameter reports the size (in megabytes) of the currernly available storage
 in the TDM Recording Buffer.
-->
  <xsd:complexType name="TdmRecordingBufferAvailableStorageNamed">
    <xsd:annotation>
      <xsd:appinfo source="SemanticDefinition">
        <![CDATA[This parameter reports the size (in megabytes) of the currernly available storage in the TDM Recording Buffer.]]>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParameterBaseType">
        <xsd:attribute name="value" type="TdmRecordingBufferAvailableStorage" use="required"/>
        <xsd:attribute fixed="tdmRecordingBufferAvailableStorage" name="classifier" type="xsd:string"/>
        <xsd:attribute fixed="1.3.112.4.4.2.1.70200.1.4.1.1" name="oid" type="ObjectIdentifier"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TdmRecordingBufferAvailableStorage">
    <xsd:restriction base="LongIntUnsigned"/>
  </xsd:simpleType>
  
  <!--
This event notifies any change of the tdmRecordingBufferProdStat parameter value.
-->
  
  <!--
The event value reports the tdmRecordingBufferProdStat value that applies since the
 notified tdmRecordingBufferProdStatChange event has occurred. 
-->
  <xsd:simpleType name="TdmRecordingBufferProdStatChangeEvtValue">
    <xsd:restriction base="TdmRecordingBufferProdStat"/>
  </xsd:simpleType>
  
  <!--
This event notifies any change of the tdmRecordingBufferResourceStat parameter.
-->
  
  <!--
The event value reports the tdmRecordingBufferResourceStat value that applies since
 the notified dmRecordingBufferResourceStatChange event occurred.
-->
  <xsd:simpleType name="TdmRecordingBufferStatusChangeEvtValue">
    <xsd:restriction base="TdmRecordingBufferResourceStat"/>
  </xsd:simpleType>
  
  <!--
This event notifies that the configuration of the production FRs filling the recording
 buffer has changed.
-->
  
  <!--
The event does not report any additional information.
-->
  <xsd:simpleType name="TdmRecordingBufferProdConfigurationChangeEvtValue">
    <xsd:restriction base="ProdConfigurationChangeEvtValue"/>
  </xsd:simpleType>
  
  <!--
This event notifies the overflow of the TDM Recording Buffer beyond its allocated
 storage space.
-->
  
  <!--
This event does not provide any additional information.
-->
   
 
  <xsd:simpleType name="TdmRecordingBufferOverflowEvtValue">
    <xsd:restriction base="NULL"/>
  </xsd:simpleType>
  
  <!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
  
  <!--
The messages passed by means of the tdmRecordingBufferOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
  <xsd:complexType name="TdmRecordingBufferOperatorNotifyMessage">
    <xsd:complexContent>
      <xsd:extension base="OperatorNotifyMessage"/>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!--
This directive permits setting of the controllable parameters of the TdmRecordingBuffer
 FR type. 
-->
  
  <!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a set of parameter identifier and parameter value pairs. To be valid, the
 parameter identifier must reference a controllable parameter of the TdmRecordingBuffer
 FR and the parameter value must be of the same type as the parameter value that
 shall be set. 
-->
  <xsd:complexType name="TdmRecordingBufferContrParamIdsAndValuesDirQual">
    <xsd:complexContent>
      <xsd:extension base="DirectiveQualifier"/>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>
