902SANA/902SchemasAndExamples/902x09r01-SMURF.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!--
********************************************************************************
        XML Schema generated by CCSDS Service Management Working Group's
                Papyrus UML Parser (PUP) at 2024-12-19T09:24:38Z
********************************************************************************
-->
<xsd:schema xmlns="urn:ccsds:schema:cssm"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="urn:ccsds:schema:cssm" >
   <xsd:include schemaLocation="902x12p11-CDE.xsd"/>

<!--
********************************************************************************
   Define enumeration "UtilizationReqStatus"
********************************************************************************
-->
   <xsd:simpleType name="UtilizationReqStatusType">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="TEST"/>
         <xsd:enumeration value="OPERATIONAL"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define enumeration "ReportType"
********************************************************************************
-->
   <xsd:simpleType name="ReportTypeType">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="SIM_SCH_SPECIFIC"/>
         <xsd:enumeration value="SIM_SCH_FREE"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define enumeration "DaysOfWeek"
********************************************************************************
-->
   <xsd:simpleType name="DaysOfWeekType">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="MONDAY"/>
         <xsd:enumeration value="TUESDAY"/>
         <xsd:enumeration value="WEDNESDAY"/>
         <xsd:enumeration value="THURSDAY"/>
         <xsd:enumeration value="FRIDAY"/>
         <xsd:enumeration value="SATURDAY"/>
         <xsd:enumeration value="SUNDAY"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define class "SrvMgtUtilReqHeader"
   This is specialization of class"SrvMgtHeader"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="srvMgtUtilReqHeader" type="SrvMgtUtilReqHeaderType" substitutionGroup="srvMgtHeader" abstract="false"/>
   <xsd:complexType name="SrvMgtUtilReqHeaderType">
      <xsd:complexContent>
         <xsd:extension base="SrvMgtHeaderType">
            <xsd:attribute name="utilizationReqStatus" type="UtilizationReqStatusType" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "SrvMgtUtilReq"
   This is specialization of class "SrvMgtInfoEntity"
   As it is both a restriction and an extension of this class the definition
   must be done in two steps.

   In this case a workround for a "feature" in Eclipse XML Editors and Tools
   (1.2.701.v202308160453) and possibly other XML parsers, is required. The
   issue is as follows;
      If an association is inherited and the class of the inherited association
      is restricted then, in some cases, if the maximum and minimum required of
      the restricted class are not both 1 an error occurs when validating the
      schema stating that it is an invalid restriction.
      Workround for this appears to be force the max and min required values to
      both be 1 in the restriction, then extend the class with the actual
      required values.

      In this case the workround has been applied to

         RequestType

********************************************************************************
-->
   <xsd:element name="srvMgtUtilReqIntermediate" type="SrvMgtUtilReqIntermediateType" abstract="true"/>
   <xsd:complexType name="SrvMgtUtilReqIntermediateType">
      <xsd:complexContent>
         <xsd:restriction base="SrvMgtInfoEntityType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="srvMgtUtilReqHeader"/>
               <xsd:element minOccurs="1" maxOccurs="1" ref="requestType"/>
            </xsd:sequence>
         </xsd:restriction>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:element name="srvMgtUtilReq" type="SrvMgtUtilReqType" substitutionGroup="srvMgtInfoEntity" abstract="false"/>
   <xsd:complexType name="SrvMgtUtilReqType">
      <xsd:complexContent>
         <xsd:extension base="SrvMgtUtilReqIntermediateType">
            <xsd:sequence>
               <xsd:element minOccurs="0" maxOccurs="1" ref="requestType"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "RequestType"
   This is specialization of class"SrvMgtData"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="requestType" type="RequestTypeType" substitutionGroup="srvMgtData" abstract="true"/>
   <xsd:complexType name="RequestTypeType">
      <xsd:complexContent>
         <xsd:extension base="SrvMgtDataType">
            <xsd:attribute name="requestID" type="xsd:string" use="required"/>
            <xsd:attribute name="serviceAgreementRef" type="xsd:string" use="optional"/>
            <xsd:attribute name="comment" type="xsd:string" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "DataEntityReq"
   This is specialization of class"RequestType"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="dataEntityReq" type="DataEntityReqType" substitutionGroup="requestType" abstract="false"/>
   <xsd:complexType name="DataEntityReqType">
      <xsd:complexContent>
         <xsd:extension base="RequestTypeType">
            <xsd:sequence>
               <xsd:element name="configurationProfileRef" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="eventSequenceRef" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="serviceAgreementRef" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="servicePackageRef" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="trajectoryRef" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="ddorScanPatternRef" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="sicfRef" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="spaceUserNode" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ReportReq"
   This is specialization of class"RequestType"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="reportReq" type="ReportReqType" substitutionGroup="requestType" abstract="true"/>
   <xsd:complexType name="ReportReqType">
      <xsd:complexContent>
         <xsd:extension base="RequestTypeType">
            <xsd:sequence>
               <xsd:element name="spaceUserNode" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="startTime" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
            <xsd:attribute name="endTime" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "SimpleScheduleRepReq"
   This is specialization of class"ReportReq"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="simpleScheduleRepReq" type="SimpleScheduleRepReqType" substitutionGroup="reportReq" abstract="false"/>
   <xsd:complexType name="SimpleScheduleRepReqType">
      <xsd:complexContent>
         <xsd:extension base="ReportReqType">
            <xsd:sequence>
               <xsd:element minOccurs="0" maxOccurs="unbounded" ref="apertureLocation"/>
            </xsd:sequence>
            <xsd:attribute name="reportType" type="ReportTypeType" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "CommsPlanningReq"
   This is specialization of class"RequestType"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="commsPlanningReq" type="CommsPlanningReqType" substitutionGroup="requestType" abstract="false"/>
   <xsd:complexType name="CommsPlanningReqType">
      <xsd:complexContent>
         <xsd:extension base="RequestTypeType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="commsPlanningTypeList"/>
               <xsd:element minOccurs="0" maxOccurs="unbounded" ref="constraints"/>
            </xsd:sequence>
            <xsd:attribute name="spaceUserNode" type="xsd:string" use="required"/>
            <xsd:attribute name="trajectoryRef" type="xsd:string" use="required"/>
            <xsd:attribute name="configurationProfileRef" type="xsd:string" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ReplaceSrvPkg"
   This is specialization of class"ServicePkgReq"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="replaceSrvPkg" type="ReplaceSrvPkgType" substitutionGroup="servicePkgReq" abstract="false"/>
   <xsd:complexType name="ReplaceSrvPkgType">
      <xsd:complexContent>
         <xsd:extension base="ServicePkgReqType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="abstractOnlineSrvPkg"/>
            </xsd:sequence>
            <xsd:attribute name="serviceReqRef" type="xsd:string" use="required"/>
            <xsd:attribute name="servicePackageRef" type="xsd:string" use="required"/>
            <xsd:attribute name="newBeginningOfTrack" type="StringCcsdsAsciiTimeCodeBType" use="optional"/>
            <xsd:attribute name="newEndOfTrack" type="StringCcsdsAsciiTimeCodeBType" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ServicePkgReq"
   This is specialization of class"RequestType"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="servicePkgReq" type="ServicePkgReqType" substitutionGroup="requestType" abstract="true"/>
   <xsd:complexType name="ServicePkgReqType">
      <xsd:complexContent>
         <xsd:extension base="RequestTypeType">
            <xsd:attribute name="spaceUserNode" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "DeleteSrvPkg"
   This is specialization of class"ServicePkgReq"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="deleteSrvPkg" type="DeleteSrvPkgType" substitutionGroup="servicePkgReq" abstract="false"/>
   <xsd:complexType name="DeleteSrvPkgType">
      <xsd:complexContent>
         <xsd:extension base="ServicePkgReqType">
            <xsd:attribute name="serviceReqRef" type="xsd:string" use="required"/>
            <xsd:attribute name="servicePackageRef" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "DeleteSrvPkgReq"
   This is specialization of class"ServicePkgReq"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="deleteSrvPkgReq" type="DeleteSrvPkgReqType" substitutionGroup="servicePkgReq" abstract="false"/>
   <xsd:complexType name="DeleteSrvPkgReqType">
      <xsd:complexContent>
         <xsd:extension base="ServicePkgReqType">
            <xsd:attribute name="serviceReqRef" type="xsd:string" use="required"/>
            <xsd:attribute name="deletePending" type="xsd:boolean" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ReplaceOnlineSrvPkgReq"
   This is specialization of class"OnlineSrvPkgReq"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="replaceOnlineSrvPkgReq" type="ReplaceOnlineSrvPkgReqType" substitutionGroup="onlineSrvPkgReq" abstract="false"/>
   <xsd:complexType name="ReplaceOnlineSrvPkgReqType">
      <xsd:complexContent>
         <xsd:extension base="OnlineSrvPkgReqType">
            <xsd:attribute name="serviceReqRef" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "NewOnlineSrvPkgReq"
   This is specialization of class"OnlineSrvPkgReq"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="newOnlineSrvPkgReq" type="NewOnlineSrvPkgReqType" substitutionGroup="onlineSrvPkgReq" abstract="false"/>
   <xsd:complexType name="NewOnlineSrvPkgReqType">
      <xsd:complexContent>
         <xsd:extension base="OnlineSrvPkgReqType">
            <xsd:attribute name="serviceReqID" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "Constraints"
********************************************************************************
-->
   <xsd:element name="constraints" type="ConstraintsType" abstract="true"/>
   <xsd:complexType name="ConstraintsType">
   </xsd:complexType>

<!--
********************************************************************************
   Define class "SubmissionReq"
   This is specialization of class"RequestType"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="submissionReq" type="SubmissionReqType" substitutionGroup="requestType" abstract="false"/>
   <xsd:complexType name="SubmissionReqType">
      <xsd:complexContent>
         <xsd:extension base="RequestTypeType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="abstractSubmissionWrapper"/>
            </xsd:sequence>
            <xsd:attribute name="spaceUserNode" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "OnlineSrvPkgReq"
   This is specialization of class"ServicePkgReq"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="onlineSrvPkgReq" type="OnlineSrvPkgReqType" substitutionGroup="servicePkgReq" abstract="true"/>
   <xsd:complexType name="OnlineSrvPkgReqType">
      <xsd:complexContent>
         <xsd:extension base="ServicePkgReqType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="abstractOnlineSrvPkg"/>
               <xsd:element minOccurs="0" maxOccurs="unbounded" ref="constraints"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "BasicPass"
   This is specialization of class"Constraints"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="basicPass" type="BasicPassType" substitutionGroup="constraints" abstract="false"/>
   <xsd:complexType name="BasicPassType">
      <xsd:complexContent>
         <xsd:extension base="ConstraintsType">
            <xsd:attribute name="preferredStartTime" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
            <xsd:attribute name="earliestStartTime" type="StringCcsdsAsciiTimeCodeBType" use="optional"/>
            <xsd:attribute name="latestStartTime" type="StringCcsdsAsciiTimeCodeBType" use="optional"/>
            <xsd:attribute name="preferredDuration" type="xsd:unsignedInt" use="required"/>
            <xsd:attribute name="minimumDuration" type="xsd:unsignedInt" use="optional"/>
            <xsd:attribute name="maximumDuration" type="xsd:unsignedInt" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ApertureSelection"
   This is specialization of class"Constraints"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="apertureSelection" type="ApertureSelectionType" substitutionGroup="constraints" abstract="false"/>
   <xsd:complexType name="ApertureSelectionType">
      <xsd:complexContent>
         <xsd:extension base="ConstraintsType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="apertureLocation"/>
            </xsd:sequence>
            <xsd:attribute name="priority" type="xsd:positiveInteger" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "BoundaryConds"
   This is specialization of class"Constraints"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="boundaryConds" type="BoundaryCondsType" substitutionGroup="constraints" abstract="false"/>
   <xsd:complexType name="BoundaryCondsType">
      <xsd:complexContent>
         <xsd:extension base="ConstraintsType">
            <xsd:attribute name="startTime" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
            <xsd:attribute name="duration" type="xsd:unsignedInt" use="required"/>
            <xsd:attribute name="minNumOfPasses" type="xsd:positiveInteger" use="optional"/>
            <xsd:attribute name="maxNumOfPasses" type="xsd:positiveInteger" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "Handover"
   This is specialization of class"Constraints"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="handover" type="HandoverType" substitutionGroup="constraints" abstract="false"/>
   <xsd:complexType name="HandoverType">
      <xsd:complexContent>
         <xsd:extension base="ConstraintsType">
            <xsd:attribute name="maximumHandovers" type="xsd:positiveInteger" use="required"/>
            <xsd:attribute name="minimumOverlap" type="xsd:int" use="required"/>
            <xsd:attribute name="maximumOverlap" type="xsd:int" use="optional"/>
            <xsd:attribute name="minimunSingleDuration" type="xsd:positiveInteger" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "PassElevation"
   This is specialization of class"Constraints"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="passElevation" type="PassElevationType" substitutionGroup="constraints" abstract="false"/>
   <xsd:complexType name="PassElevationType">
      <xsd:complexContent>
         <xsd:extension base="ConstraintsType">
            <xsd:attribute name="minElevationDuringPass" type="DblMinExc0_0MaxInc90_0Type" use="optional"/>
            <xsd:attribute name="maxElevationDuringPass" type="DblMinExc0_0MaxInc90_0Type" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "PassDailyTime"
   This is specialization of class"Constraints"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="passDailyTime" type="PassDailyTimeType" substitutionGroup="constraints" abstract="false"/>
   <xsd:complexType name="PassDailyTimeType">
      <xsd:complexContent>
         <xsd:extension base="ConstraintsType">
            <xsd:sequence>
               <xsd:element name="daysForPasses" type="DaysOfWeekType" minOccurs="0" maxOccurs="7"/>
            </xsd:sequence>
            <xsd:attribute name="earliestPassStart" type="RestictedTimeHHMMSSType" use="optional"/>
            <xsd:attribute name="latestPassStart" type="RestictedTimeHHMMSSType" use="optional"/>
            <xsd:attribute name="earliestPassEnd" type="RestictedTimeHHMMSSType" use="optional"/>
            <xsd:attribute name="latestPassEnd" type="RestictedTimeHHMMSSType" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "PassRange"
   This is specialization of class"Constraints"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="passRange" type="PassRangeType" substitutionGroup="constraints" abstract="false"/>
   <xsd:complexType name="PassRangeType">
      <xsd:complexContent>
         <xsd:extension base="ConstraintsType">
            <xsd:attribute name="minRangeDuringPass" type="xsd:unsignedInt" use="optional"/>
            <xsd:attribute name="maxRangeDuringPass" type="xsd:unsignedInt" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "PassInterval"
   This is specialization of class"Constraints"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="passInterval" type="PassIntervalType" substitutionGroup="constraints" abstract="false"/>
   <xsd:complexType name="PassIntervalType">
      <xsd:complexContent>
         <xsd:extension base="ConstraintsType">
            <xsd:attribute name="minIntBetweenPasses" type="xsd:unsignedInt" use="optional"/>
            <xsd:attribute name="maxIntBetweenPasses" type="xsd:unsignedInt" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "PassDuration"
   This is specialization of class"Constraints"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="passDuration" type="PassDurationType" substitutionGroup="constraints" abstract="false"/>
   <xsd:complexType name="PassDurationType">
      <xsd:complexContent>
         <xsd:extension base="ConstraintsType">
            <xsd:attribute name="minPassDuration" type="xsd:unsignedInt" use="optional"/>
            <xsd:attribute name="maxPassDuration" type="xsd:unsignedInt" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

</xsd:schema>
