902SANA/902SchemasAndExamples/902x13m01TC1-AED.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!--
********************************************************************************
        XML Schema generated by CCSDS Service Management Working Group's
                Papyrus UML Parser (PUP) at 2024-12-10T09:47:14Z
********************************************************************************
-->
<xsd:schema xmlns="urn:ccsds:schema:cssm"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="urn:ccsds:schema:cssm" >
   <xsd:include schemaLocation="902x--___-DTM.xsd"/>

<!--
********************************************************************************
   Define class "AbstractEvent"
********************************************************************************
-->
   <xsd:element name="abstractEvent" type="AbstractEventType" abstract="true"/>
   <xsd:complexType name="AbstractEventType">
      <xsd:sequence>
         <xsd:element minOccurs="0" maxOccurs="unbounded" ref="abstractParameter"/>
         <xsd:element minOccurs="1" maxOccurs="1" ref="abstractEventTime"/>
      </xsd:sequence>
      <xsd:attribute name="user" type="xsd:string" use="optional"/>
      <xsd:attribute name="description" type="xsd:string" use="optional"/>
      <xsd:attribute name="latestOffset" type="DblMinExc0_0Type" use="optional"/>
      <xsd:attribute name="earliestOffset" type="DblMaxExc0_0Type" use="optional"/>
      <xsd:attribute name="identifier" type="xsd:ID" use="optional"/>
      <xsd:attribute name="type" type="xsd:string" use="optional"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "AbstractParameter"
********************************************************************************
-->
   <xsd:element name="abstractParameter" type="AbstractParameterType" abstract="true"/>
   <xsd:complexType name="AbstractParameterType">
      <xsd:attribute name="name" type="xsd:string" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "AbstractEventTime"
********************************************************************************
-->
   <xsd:element name="abstractEventTime" type="AbstractEventTimeType" abstract="true"/>
   <xsd:complexType name="AbstractEventTimeType">
      <xsd:attribute name="epochTimeSystem" type="xsd:string" use="optional"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "BooleanParameter"
   This is specialization of class"AbstractParameter"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="booleanParameter" type="BooleanParameterType" substitutionGroup="abstractParameter" abstract="false"/>
   <xsd:complexType name="BooleanParameterType">
      <xsd:complexContent>
         <xsd:extension base="AbstractParameterType">
            <xsd:attribute name="value" type="xsd:boolean" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "UnsignedIntParameter"
   This is specialization of class"AbstractParameter"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="unsignedIntParameter" type="UnsignedIntParameterType" substitutionGroup="abstractParameter" abstract="false"/>
   <xsd:complexType name="UnsignedIntParameterType">
      <xsd:complexContent>
         <xsd:extension base="AbstractParameterType">
            <xsd:attribute name="value" type="xsd:unsignedInt" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "FloatParameter"
   This is specialization of class"AbstractParameter"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="floatParameter" type="FloatParameterType" substitutionGroup="abstractParameter" abstract="false"/>
   <xsd:complexType name="FloatParameterType">
      <xsd:complexContent>
         <xsd:extension base="AbstractParameterType">
            <xsd:attribute name="value" type="xsd:float" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "DoubleParameter"
   This is specialization of class"AbstractParameter"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="doubleParameter" type="DoubleParameterType" substitutionGroup="abstractParameter" abstract="false"/>
   <xsd:complexType name="DoubleParameterType">
      <xsd:complexContent>
         <xsd:extension base="AbstractParameterType">
            <xsd:attribute name="value" type="xsd:double" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "StringParameter"
   This is specialization of class"AbstractParameter"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="stringParameter" type="StringParameterType" substitutionGroup="abstractParameter" abstract="false"/>
   <xsd:complexType name="StringParameterType">
      <xsd:complexContent>
         <xsd:extension base="AbstractParameterType">
            <xsd:attribute name="value" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "TimeParameter"
   This is specialization of class"AbstractParameter"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="timeParameter" type="TimeParameterType" substitutionGroup="abstractParameter" abstract="false"/>
   <xsd:complexType name="TimeParameterType">
      <xsd:complexContent>
         <xsd:extension base="AbstractParameterType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="abstractEventTime"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ExtendedParameter"
   This is specialization of class"AbstractParameter"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="extendedParameter" type="ExtendedParameterType" substitutionGroup="abstractParameter" abstract="false"/>
   <xsd:complexType name="ExtendedParameterType">
      <xsd:complexContent>
         <xsd:extension base="AbstractParameterType">
            <xsd:sequence>
               <xsd:element name="value">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:any minOccurs="1" maxOccurs="1"/>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "DurationUnIntParameter"
   This is specialization of class"AbstractParameter"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="durationUnIntParameter" type="DurationUnIntParameterType" substitutionGroup="abstractParameter" abstract="false"/>
   <xsd:complexType name="DurationUnIntParameterType">
      <xsd:complexContent>
         <xsd:extension base="AbstractParameterType">
            <xsd:attribute name="value" type="xsd:unsignedInt" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "DurationDblParameter"
   This is specialization of class"AbstractParameter"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="durationDblParameter" type="DurationDblParameterType" substitutionGroup="abstractParameter" abstract="false"/>
   <xsd:complexType name="DurationDblParameterType">
      <xsd:complexContent>
         <xsd:extension base="AbstractParameterType">
            <xsd:attribute name="value" type="DblMinInc0_0Type" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "TimeParameterA"
   This is specialization of class"AbstractParameter"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="timeParameterA" type="TimeParameterAType" substitutionGroup="abstractParameter" abstract="false"/>
   <xsd:complexType name="TimeParameterAType">
      <xsd:complexContent>
         <xsd:extension base="AbstractParameterType">
            <xsd:attribute name="value" type="StringCcsdsAsciiTimeCodeAType" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "TimeParameterB"
   This is specialization of class"AbstractParameter"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="timeParameterB" type="TimeParameterBType" substitutionGroup="abstractParameter" abstract="false"/>
   <xsd:complexType name="TimeParameterBType">
      <xsd:complexContent>
         <xsd:extension base="AbstractParameterType">
            <xsd:attribute name="value" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "CcsdsAsciiTimeCodeA"
   This is specialization of class"AbstractEventTime"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="ccsdsAsciiTimeCodeA" type="CcsdsAsciiTimeCodeAType" substitutionGroup="abstractEventTime" abstract="false"/>
   <xsd:complexType name="CcsdsAsciiTimeCodeAType">
      <xsd:complexContent>
         <xsd:extension base="AbstractEventTimeType">
            <xsd:attribute name="absoluteTime" type="StringCcsdsAsciiTimeCodeAType" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "CcsdsAsciiTimeCodeB"
   This is specialization of class"AbstractEventTime"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="ccsdsAsciiTimeCodeB" type="CcsdsAsciiTimeCodeBType" substitutionGroup="abstractEventTime" abstract="false"/>
   <xsd:complexType name="CcsdsAsciiTimeCodeBType">
      <xsd:complexContent>
         <xsd:extension base="AbstractEventTimeType">
            <xsd:attribute name="absoluteTime" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "RelativeEventTime"
   This is specialization of class"AbstractEventTime"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="relativeEventTime" type="RelativeEventTimeType" substitutionGroup="abstractEventTime" abstract="false"/>
   <xsd:complexType name="RelativeEventTimeType">
      <xsd:complexContent>
         <xsd:extension base="AbstractEventTimeType">
            <xsd:attribute name="relativeTime" type="xsd:double" use="required"/>
            <xsd:attribute name="otherEventRef" type="xsd:IDREF" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "RelativeToTimeA"
   This is specialization of class"AbstractEventTime"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="relativeToTimeA" type="RelativeToTimeAType" substitutionGroup="abstractEventTime" abstract="false"/>
   <xsd:complexType name="RelativeToTimeAType">
      <xsd:complexContent>
         <xsd:extension base="AbstractEventTimeType">
            <xsd:attribute name="relativeTime" type="xsd:double" use="required"/>
            <xsd:attribute name="absoluteTime" type="StringCcsdsAsciiTimeCodeAType" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "RelativeToTimeB"
   This is specialization of class"AbstractEventTime"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="relativeToTimeB" type="RelativeToTimeBType" substitutionGroup="abstractEventTime" abstract="false"/>
   <xsd:complexType name="RelativeToTimeBType">
      <xsd:complexContent>
         <xsd:extension base="AbstractEventTimeType">
            <xsd:attribute name="relativeTime" type="xsd:double" use="required"/>
            <xsd:attribute name="absoluteTime" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "IntParamater"
   This is specialization of class"AbstractParameter"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="intParamater" type="IntParamaterType" substitutionGroup="abstractParameter" abstract="false"/>
   <xsd:complexType name="IntParamaterType">
      <xsd:complexContent>
         <xsd:extension base="AbstractParameterType">
            <xsd:attribute name="value" type="xsd:int" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

</xsd:schema>
