902SANA/902SchemasAndExamples/902x04r01-SPDF.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!--
********************************************************************************
        XML Schema generated by CCSDS Service Management Working Group's
                Papyrus UML Parser (PUP) at 2025-09-03T17:14:19Z
********************************************************************************
-->
<xsd:schema xmlns="urn:ccsds:schema:cssm"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="urn:ccsds:schema:cssm" >
   <xsd:include schemaLocation="902x12p11-CDE.xsd"/>

<!--
********************************************************************************
   Define enumeration "ServicePkgUsage"
********************************************************************************
-->
   <xsd:simpleType name="ServicePkgUsageType">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="INTERFACE-TEST"/>
         <xsd:enumeration value="OPERATIONAL"/>
         <xsd:enumeration value="OTHER"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define class "ServicePkgBody"
   This is specialization of class"SrvMgtData"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="servicePkgBody" type="ServicePkgBodyType" substitutionGroup="srvMgtData" abstract="false"/>
   <xsd:complexType name="ServicePkgBodyType">
      <xsd:complexContent>
         <xsd:extension base="SrvMgtDataType">
            <xsd:sequence>
               <xsd:element minOccurs="0" maxOccurs="unbounded" ref="servicePkg"/>
            </xsd:sequence>
            <xsd:attribute name="spaceUserNode" type="xsd:string" use="required"/>
            <xsd:attribute name="serviceReqRef" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ServicePkgEntity"
   This is specialization of class"SrvMgtInfoEntity"
   It is a restriction of this class.
********************************************************************************
-->
   <xsd:element name="servicePkgEntity" type="ServicePkgEntityType" substitutionGroup="srvMgtInfoEntity" abstract="false"/>
   <xsd:complexType name="ServicePkgEntityType">
      <xsd:complexContent>
         <xsd:restriction base="SrvMgtInfoEntityType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="servicePkgHeader"/>
               <xsd:element minOccurs="1" maxOccurs="1" ref="servicePkgBody"/>
            </xsd:sequence>
         </xsd:restriction>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ServicePkgHeader"
   This is specialization of class"SrvMgtHeader"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="servicePkgHeader" type="ServicePkgHeaderType" substitutionGroup="srvMgtHeader" abstract="false"/>
   <xsd:complexType name="ServicePkgHeaderType">
      <xsd:complexContent>
         <xsd:extension base="SrvMgtHeaderType">
            <xsd:attribute name="servicePkgUsage" type="ServicePkgUsageType" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ServicePkg"
********************************************************************************
-->
   <xsd:element name="servicePkg" type="ServicePkgType" abstract="false"/>
   <xsd:complexType name="ServicePkgType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="1" ref="apertureLocation"/>
         <xsd:element minOccurs="1" maxOccurs="1" ref="abstractOnlineSrvPkg"/>
      </xsd:sequence>
      <xsd:attribute name="servicePackageID" type="xsd:string" use="required"/>
      <xsd:attribute name="beginningOfTrack" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
      <xsd:attribute name="endOfTrack" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
      <xsd:attribute name="servicePackageStatus" type="xsd:string" use="optional"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "OnlineSrvPkgType2"
   This is specialization of class"AbstractOnlineSrvPkg"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="onlineSrvPkgType2" type="OnlineSrvPkgType2Type" substitutionGroup="abstractOnlineSrvPkg" abstract="false"/>
   <xsd:complexType name="OnlineSrvPkgType2Type">
      <xsd:complexContent>
         <xsd:extension base="AbstractOnlineSrvPkgType">
            <xsd:sequence>
               <xsd:element minOccurs="0" maxOccurs="1" ref="abstractEventSeqWrapper"/>
               <xsd:element minOccurs="1" maxOccurs="unbounded" ref="onlineSrvPkgType2Details"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "OnlineSrvPkgType2Details"
********************************************************************************
-->
   <xsd:element name="onlineSrvPkgType2Details" type="OnlineSrvPkgType2DetailsType" abstract="false"/>
   <xsd:complexType name="OnlineSrvPkgType2DetailsType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="1" ref="abstractConfigProfileWrapper"/>
         <xsd:element minOccurs="0" maxOccurs="1" ref="abstractDDORScanPatternWrapper"/>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>
