902SANA/902SchemasAndExamples/902x05w01-SACP.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!--
********************************************************************************
        XML Schema generated by CCSDS Service Management Working Group's
                Papyrus UML Parser (PUP) at 2025-09-03T17:14:14Z
********************************************************************************
-->
<xsd:schema xmlns="urn:ccsds:schema:cssm"
            xmlns:frm="urn:ccsds:schema:frm"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="urn:ccsds:schema:cssm" >
   <xsd:include schemaLocation="902x04r01-SPDF.xsd"/>
   <xsd:include schemaLocation="902x09r01-SMURF.xsd"/>
   <xsd:import namespace="urn:ccsds:schema:frm" schemaLocation="./901x03FrmSchemas/AllFunctionaResources.xsd"/>

<!--
********************************************************************************
   Define enumeration "TrajFormat"
********************************************************************************
-->
   <xsd:simpleType name="TrajFormatType">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="OEM-XML"/>
         <xsd:enumeration value="OMM-XML"/>
         <xsd:enumeration value="OPM-XML"/>
         <xsd:enumeration value="OEM-TEXT"/>
         <xsd:enumeration value="OMM-TEXT"/>
         <xsd:enumeration value="OPM-TEXT"/>
         <xsd:enumeration value="TLE"/>
         <xsd:enumeration value="STDM"/>
         <xsd:enumeration value="OTHER"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define enumeration "TrajType"
********************************************************************************
-->
   <xsd:simpleType name="TrajTypeType">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="LEO"/>
         <xsd:enumeration value="MEO"/>
         <xsd:enumeration value="GEO"/>
         <xsd:enumeration value="LUNAR"/>
         <xsd:enumeration value="PLANETRY"/>
         <xsd:enumeration value="SOLAR"/>
         <xsd:enumeration value="INTERSTELLAR"/>
         <xsd:enumeration value="OTHER"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define enumeration "ServiceAgreementStatus"
********************************************************************************
-->
   <xsd:simpleType name="ServiceAgreementStatusType">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="INTERFACE-TEST"/>
         <xsd:enumeration value="OPERATIONAL"/>
         <xsd:enumeration value="OTHER"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define enumeration "ConfigProfileStatus"
********************************************************************************
-->
   <xsd:simpleType name="ConfigProfileStatusType">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="INTERFACE-TEST"/>
         <xsd:enumeration value="OPERATIONAL"/>
         <xsd:enumeration value="OTHER"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define enumeration "ApertureType"
********************************************************************************
-->
   <xsd:simpleType name="ApertureTypeType">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="RELAY"/>
         <xsd:enumeration value="GROUND"/>
         <xsd:enumeration value="SPACE"/>
         <xsd:enumeration value="ORBITER"/>
         <xsd:enumeration value="LUNAR"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define class "ServiceProfile"
********************************************************************************
-->
   <xsd:element name="serviceProfile" type="ServiceProfileType" abstract="false"/>
   <xsd:complexType name="ServiceProfileType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="1" ref="serviceInfo"/>
         <xsd:element minOccurs="0" maxOccurs="unbounded" ref="abstractParameter"/>
         <xsd:element minOccurs="0" maxOccurs="unbounded" ref="frm:functionalResourceInstance"/>
      </xsd:sequence>
      <xsd:attribute name="serviceProfileID" type="xsd:string" use="optional"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ServiceAgreementHeader"
   This is specialization of class"SrvMgtHeader"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="serviceAgreementHeader" type="ServiceAgreementHeaderType" substitutionGroup="srvMgtHeader" abstract="false"/>
   <xsd:complexType name="ServiceAgreementHeaderType">
      <xsd:complexContent>
         <xsd:extension base="SrvMgtHeaderType">
            <xsd:attribute name="status" type="ServiceAgreementStatusType" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ServiceAgreement"
   This is specialization of class"SrvMgtInfoEntity"
   It is a restriction of this class.
********************************************************************************
-->
   <xsd:element name="serviceAgreement" type="ServiceAgreementType" substitutionGroup="srvMgtInfoEntity" abstract="false"/>
   <xsd:complexType name="ServiceAgreementType">
      <xsd:complexContent>
         <xsd:restriction base="SrvMgtInfoEntityType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="serviceAgreementHeader"/>
               <xsd:element minOccurs="1" maxOccurs="1" ref="serviceAgreementData"/>
            </xsd:sequence>
         </xsd:restriction>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ServiceAgreementData"
   This is specialization of class"SrvMgtData"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="serviceAgreementData" type="ServiceAgreementDataType" substitutionGroup="srvMgtData" abstract="false"/>
   <xsd:complexType name="ServiceAgreementDataType">
      <xsd:complexContent>
         <xsd:extension base="SrvMgtDataType">
            <xsd:sequence>
               <xsd:element minOccurs="0" maxOccurs="1" ref="saAgreedConfigProfiles"/>
               <xsd:element minOccurs="0" maxOccurs="1" ref="saKeyMissionDates"/>
               <xsd:element minOccurs="0" maxOccurs="1" ref="saTrajectoryInfo"/>
               <xsd:element minOccurs="0" maxOccurs="1" ref="saProvidedServices"/>
               <xsd:element minOccurs="0" maxOccurs="1" ref="saDataStorageAndDelivery"/>
               <xsd:element minOccurs="0" maxOccurs="1" ref="saGroundComms"/>
               <xsd:element minOccurs="0" maxOccurs="1" ref="saServiceLevel"/>
               <xsd:element minOccurs="1" maxOccurs="1" ref="providerContacts"/>
               <xsd:element minOccurs="1" maxOccurs="1" ref="userContacts"/>
               <xsd:element minOccurs="1" maxOccurs="unbounded" ref="spacecraft"/>
               <xsd:element minOccurs="0" maxOccurs="1" ref="missionDescRefs"/>
               <xsd:element minOccurs="1" maxOccurs="1" ref="missionCharRefs"/>
               <xsd:element minOccurs="1" maxOccurs="unbounded" ref="providerAperture"/>
               <xsd:element minOccurs="1" maxOccurs="unbounded" ref="userAperture"/>
            </xsd:sequence>
            <xsd:attribute name="providerAgency" type="xsd:string" use="required"/>
            <xsd:attribute name="userAgency" type="xsd:string" use="required"/>
            <xsd:attribute name="missionDescription" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ConfigProfileHeader"
   This is specialization of class"SrvMgtHeader"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="configProfileHeader" type="ConfigProfileHeaderType" substitutionGroup="srvMgtHeader" abstract="false"/>
   <xsd:complexType name="ConfigProfileHeaderType">
      <xsd:complexContent>
         <xsd:extension base="SrvMgtHeaderType">
            <xsd:attribute name="status" type="ConfigProfileStatusType" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ConfigProfile"
   This is specialization of class"SrvMgtInfoEntity"
   It is a restriction of this class.
********************************************************************************
-->
   <xsd:element name="configProfile" type="ConfigProfileType" substitutionGroup="srvMgtInfoEntity" abstract="false"/>
   <xsd:complexType name="ConfigProfileType">
      <xsd:complexContent>
         <xsd:restriction base="SrvMgtInfoEntityType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="configProfileHeader"/>
               <xsd:element minOccurs="1" maxOccurs="1" ref="configProfileData"/>
            </xsd:sequence>
         </xsd:restriction>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ConfigProfileData"
   This is specialization of class"SrvMgtData"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="configProfileData" type="ConfigProfileDataType" substitutionGroup="srvMgtData" abstract="false"/>
   <xsd:complexType name="ConfigProfileDataType">
      <xsd:complexContent>
         <xsd:extension base="SrvMgtDataType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="unbounded" ref="serviceProfile"/>
            </xsd:sequence>
            <xsd:attribute name="configProfileNickname" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "CcsdsServiceAgreementWrapper"
   This is specialization of class"AbstractServiceAgreementWrapper"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="ccsdsServiceAgreementWrapper" type="CcsdsServiceAgreementWrapperType" substitutionGroup="abstractServiceAgreementWrapper" abstract="false"/>
   <xsd:complexType name="CcsdsServiceAgreementWrapperType">
      <xsd:complexContent>
         <xsd:extension base="AbstractServiceAgreementWrapperType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="serviceAgreement"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "CcsdsConfigProfileWrapper"
   This is specialization of class"AbstractConfigProfileWrapper"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="ccsdsConfigProfileWrapper" type="CcsdsConfigProfileWrapperType" substitutionGroup="abstractConfigProfileWrapper" abstract="false"/>
   <xsd:complexType name="CcsdsConfigProfileWrapperType">
      <xsd:complexContent>
         <xsd:extension base="AbstractConfigProfileWrapperType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="configProfile"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "SAAgreedConfigProfiles"
********************************************************************************
-->
   <xsd:element name="saAgreedConfigProfiles" type="SAAgreedConfigProfilesType" abstract="false"/>
   <xsd:complexType name="SAAgreedConfigProfilesType">
      <xsd:sequence>
         <xsd:element minOccurs="0" maxOccurs="unbounded" ref="abstractConfigProfileWrapper"/>
         <xsd:element name="configProfileXRef" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "Contact"
********************************************************************************
-->
   <xsd:element name="contact" type="ContactType" abstract="false"/>
   <xsd:complexType name="ContactType">
      <xsd:attribute name="contactName" type="xsd:string" use="required"/>
      <xsd:attribute name="contactRole" type="xsd:string" use="required"/>
      <xsd:attribute name="contactEmail" type="xsd:string" use="required"/>
      <xsd:attribute name="contactPhone" type="xsd:string" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "Spacecraft"
********************************************************************************
-->
   <xsd:element name="spacecraft" type="SpacecraftType" abstract="false"/>
   <xsd:complexType name="SpacecraftType">
      <xsd:attribute name="acronym" type="xsd:string" use="required"/>
      <xsd:attribute name="spaceUserNode" type="xsd:string" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "Reference"
********************************************************************************
-->
   <xsd:element name="reference" type="ReferenceType" abstract="false"/>
   <xsd:complexType name="ReferenceType">
      <xsd:attribute name="documentName" type="xsd:string" use="required"/>
      <xsd:attribute name="documentRef" type="xsd:string" use="required"/>
      <xsd:attribute name="documentURI" type="xsd:anyURI" use="optional"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ProviderAperture"
********************************************************************************
-->
   <xsd:element name="providerAperture" type="ProviderApertureType" abstract="false"/>
   <xsd:complexType name="ProviderApertureType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="apertureLocation"/>
         <xsd:element name="usagePhases" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="frNickname" type="xsd:string" use="required"/>
      <xsd:attribute name="priority" type="xsd:positiveInteger" use="required"/>
      <xsd:attribute name="type" type="ApertureTypeType" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "UserAperture"
********************************************************************************
-->
   <xsd:element name="userAperture" type="UserApertureType" abstract="false"/>
   <xsd:complexType name="UserApertureType">
      <xsd:sequence>
         <xsd:element name="aperture" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
         <xsd:element name="usagePhases" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="spaceUserNode" type="xsd:string" use="required"/>
      <xsd:attribute name="priority" type="xsd:positiveInteger" use="required"/>
      <xsd:attribute name="type" type="ApertureTypeType" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "SAServiceLevel"
********************************************************************************
-->
   <xsd:element name="saServiceLevel" type="SAServiceLevelType" abstract="false"/>
   <xsd:complexType name="SAServiceLevelType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="contactRequirements"/>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="costOfService"/>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="successCriteria"/>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="availability"/>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="ancilliaryService"/>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="productDeliveryTiming"/>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="providedServiceLevel"/>
      </xsd:sequence>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "SAGroundComms"
********************************************************************************
-->
   <xsd:element name="saGroundComms" type="SAGroundCommsType" abstract="false"/>
   <xsd:complexType name="SAGroundCommsType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="commandLatency"/>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="commsBandwidth"/>
      </xsd:sequence>
      <xsd:attribute name="redundancy" type="xsd:string" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "SADataStorageAndDelivery"
********************************************************************************
-->
   <xsd:element name="saDataStorageAndDelivery" type="SADataStorageAndDeliveryType" abstract="false"/>
   <xsd:complexType name="SADataStorageAndDeliveryType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="productRetentionDetails"/>
      </xsd:sequence>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "SAKeyMissionDates"
********************************************************************************
-->
   <xsd:element name="saKeyMissionDates" type="SAKeyMissionDatesType" abstract="false"/>
   <xsd:complexType name="SAKeyMissionDatesType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="phaseDetails"/>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="launchWindow"/>
      </xsd:sequence>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "SATrajectoryInfo"
********************************************************************************
-->
   <xsd:element name="saTrajectoryInfo" type="SATrajectoryInfoType" abstract="false"/>
   <xsd:complexType name="SATrajectoryInfoType">
      <xsd:attribute name="trajFormat" type="TrajFormatType" use="required"/>
      <xsd:attribute name="trajType" type="TrajTypeType" use="required"/>
      <xsd:attribute name="trajDescription" type="xsd:string" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "SAProvidedServices"
********************************************************************************
-->
   <xsd:element name="saProvidedServices" type="SAProvidedServicesType" abstract="false"/>
   <xsd:complexType name="SAProvidedServicesType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="service"/>
      </xsd:sequence>
      <xsd:attribute name="trackingConfigType" type="xsd:string" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "PhaseDetails"
********************************************************************************
-->
   <xsd:element name="phaseDetails" type="PhaseDetailsType" abstract="false"/>
   <xsd:complexType name="PhaseDetailsType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="involvedResource"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="required"/>
      <xsd:attribute name="description" type="xsd:string" use="required"/>
      <xsd:attribute name="startDate" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
      <xsd:attribute name="endDate" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
      <xsd:attribute name="type" type="xsd:string" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "InvolvedResource"
********************************************************************************
-->
   <xsd:element name="involvedResource" type="InvolvedResourceType" abstract="false"/>
   <xsd:complexType name="InvolvedResourceType">
      <xsd:attribute name="ref" type="xsd:string" use="required"/>
      <xsd:attribute name="type" type="xsd:string" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "LaunchWindow"
********************************************************************************
-->
   <xsd:element name="launchWindow" type="LaunchWindowType" abstract="false"/>
   <xsd:complexType name="LaunchWindowType">
      <xsd:attribute name="startTime" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
      <xsd:attribute name="endTime" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
      <xsd:attribute name="default" type="xsd:boolean" use="required"/>
      <xsd:attribute name="id" type="xsd:string" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "Service"
********************************************************************************
-->
   <xsd:element name="service" type="ServiceType" abstract="false"/>
   <xsd:complexType name="ServiceType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="1" ref="serviceInfo"/>
         <xsd:element name="transferService" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="provisionType" type="xsd:string" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ProductRetentionDetails"
********************************************************************************
-->
   <xsd:element name="productRetentionDetails" type="ProductRetentionDetailsType" abstract="false"/>
   <xsd:complexType name="ProductRetentionDetailsType">
      <xsd:attribute name="productType" type="xsd:string" use="required"/>
      <xsd:attribute name="productName" type="xsd:string" use="required"/>
      <xsd:attribute name="retentionTime" type="xsd:nonNegativeInteger" use="required"/>
      <xsd:attribute name="storageVolume" type="xsd:nonNegativeInteger" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "CommsBandwidth"
********************************************************************************
-->
   <xsd:element name="commsBandwidth" type="CommsBandwidthType" abstract="false"/>
   <xsd:complexType name="CommsBandwidthType">
      <xsd:attribute name="identifier" type="xsd:string" use="required"/>
      <xsd:attribute name="bandwidth" type="xsd:nonNegativeInteger" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "CommandLatency"
********************************************************************************
-->
   <xsd:element name="commandLatency" type="CommandLatencyType" abstract="false"/>
   <xsd:complexType name="CommandLatencyType">
      <xsd:attribute name="cmdLatency" type="DblMinInc0_0Type" use="required"/>
      <xsd:attribute name="referredTo" type="xsd:string" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ContactRequirements"
********************************************************************************
-->
   <xsd:element name="contactRequirements" type="ContactRequirementsType" abstract="false"/>
   <xsd:complexType name="ContactRequirementsType">
      <xsd:attribute name="minContactsPerPeriod" type="xsd:nonNegativeInteger" use="required"/>
      <xsd:attribute name="maxContactsPerPeriod" type="xsd:positiveInteger" use="required"/>
      <xsd:attribute name="periodType" type="xsd:string" use="required"/>
      <xsd:attribute name="minDuration" type="xsd:positiveInteger" use="required"/>
      <xsd:attribute name="maxDuration" type="xsd:positiveInteger" use="required"/>
      <xsd:attribute name="missionPhase" type="xsd:string" use="optional"/>
      <xsd:attribute name="comment" type="xsd:string" use="optional"/>
      <xsd:attribute name="startOfContactReqs" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
      <xsd:attribute name="endOfContactReqs" type="StringCcsdsAsciiTimeCodeBType" use="required"/>
      <xsd:attribute name="requiredServiceSupport" type="xsd:string" use="required"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "CostOfService"
********************************************************************************
-->
   <xsd:element name="costOfService" type="CostOfServiceType" abstract="false"/>
   <xsd:complexType name="CostOfServiceType">
      <xsd:attribute name="currency" type="xsd:string" use="required"/>
      <xsd:attribute name="costPerPeriod" type="DblMinInc0_0Type" use="required"/>
      <xsd:attribute name="periodType" type="xsd:string" use="required"/>
      <xsd:attribute name="missionPhase" type="xsd:string" use="optional"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "SuccessCriteria"
********************************************************************************
-->
   <xsd:element name="successCriteria" type="SuccessCriteriaType" abstract="false"/>
   <xsd:complexType name="SuccessCriteriaType">
      <xsd:attribute name="id" type="xsd:string" use="required"/>
      <xsd:attribute name="amount" type="DblMinInc0_0Type" use="required"/>
      <xsd:attribute name="unit" type="xsd:string" use="required"/>
      <xsd:attribute name="criteria" type="xsd:string" use="required"/>
      <xsd:attribute name="evaluationPeriod" type="xsd:string" use="required"/>
      <xsd:attribute name="missionPhase" type="xsd:string" use="optional"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "Availability"
********************************************************************************
-->
   <xsd:element name="availability" type="AvailabilityType" abstract="false"/>
   <xsd:complexType name="AvailabilityType">
      <xsd:attribute name="timeUnit" type="xsd:string" use="required"/>
      <xsd:attribute name="mttr" type="DblMinInc0_0Type" use="required"/>
      <xsd:attribute name="missionPhase" type="xsd:string" use="optional"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "AncilliaryService"
********************************************************************************
-->
   <xsd:element name="ancilliaryService" type="AncilliaryServiceType" abstract="false"/>
   <xsd:complexType name="AncilliaryServiceType">
      <xsd:attribute name="serviceDescription" type="xsd:string" use="required"/>
      <xsd:attribute name="missionPhase" type="xsd:string" use="optional"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ProvidedServiceLevel"
********************************************************************************
-->
   <xsd:element name="providedServiceLevel" type="ProvidedServiceLevelType" abstract="false"/>
   <xsd:complexType name="ProvidedServiceLevelType">
      <xsd:attribute name="serviceLevelDescription" type="xsd:string" use="required"/>
      <xsd:attribute name="priority" type="xsd:positiveInteger" use="required"/>
      <xsd:attribute name="missionPhase" type="xsd:string" use="optional"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ProductDeliveryTiming"
********************************************************************************
-->
   <xsd:element name="productDeliveryTiming" type="ProductDeliveryTimingType" abstract="false"/>
   <xsd:complexType name="ProductDeliveryTimingType">
      <xsd:attribute name="productType" type="xsd:string" use="required"/>
      <xsd:attribute name="maxTimeAfterEvent" type="xsd:nonNegativeInteger" use="required"/>
      <xsd:attribute name="refEvent" type="xsd:string" use="required"/>
      <xsd:attribute name="comment" type="xsd:string" use="optional"/>
      <xsd:attribute name="missionPhase" type="xsd:string" use="optional"/>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "UserContacts"
********************************************************************************
-->
   <xsd:element name="userContacts" type="UserContactsType" abstract="false"/>
   <xsd:complexType name="UserContactsType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="contact"/>
      </xsd:sequence>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ProviderContacts"
********************************************************************************
-->
   <xsd:element name="providerContacts" type="ProviderContactsType" abstract="false"/>
   <xsd:complexType name="ProviderContactsType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="contact"/>
      </xsd:sequence>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "MissionDescRefs"
********************************************************************************
-->
   <xsd:element name="missionDescRefs" type="MissionDescRefsType" abstract="false"/>
   <xsd:complexType name="MissionDescRefsType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="reference"/>
      </xsd:sequence>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "MissionCharRefs"
********************************************************************************
-->
   <xsd:element name="missionCharRefs" type="MissionCharRefsType" abstract="false"/>
   <xsd:complexType name="MissionCharRefsType">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="unbounded" ref="reference"/>
      </xsd:sequence>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ModCProfParameter"
   This is specialization of class"AbstractModCProfParm"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="modCProfParameter" type="ModCProfParameterType" substitutionGroup="abstractModCProfParm" abstract="false"/>
   <xsd:complexType name="ModCProfParameterType">
      <xsd:complexContent>
         <xsd:extension base="AbstractModCProfParmType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="abstractParameter"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ModFunctionalResourceInstanceParameter"
   This is specialization of class"AbstractModCProfParm"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="modFunctionalResourceInstanceParameter" type="ModFunctionalResourceInstanceParameterType" substitutionGroup="abstractModCProfParm" abstract="false"/>
   <xsd:complexType name="ModFunctionalResourceInstanceParameterType">
      <xsd:complexContent>
         <xsd:extension base="AbstractModCProfParmType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="frm:frmParameter"/>
            </xsd:sequence>
            <xsd:attribute name="instanceNumber" type="xsd:positiveInteger" use="required"/>
            <xsd:attribute name="frTypeOid" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

</xsd:schema>
