902SANA/902SchemasAndExamples/902x--___-DTM.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!--
********************************************************************************
        XML Schema generated by CCSDS Service Management Working Group's
                Papyrus UML Parser (PUP) at 2025-09-03T17:13:23Z
********************************************************************************
-->
<xsd:schema xmlns="urn:ccsds:schema:cssm"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="urn:ccsds:schema:cssm" >

<!--
********************************************************************************
   Define data type "CCSDS Time Code A"
********************************************************************************
-->
   <xsd:simpleType name="StringCcsdsAsciiTimeCodeAType">
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(.(\d)+)?Z?"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "CCSDS Time Code B"
********************************************************************************
-->
   <xsd:simpleType name="StringCcsdsAsciiTimeCodeBType">
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="\d{4}-\d{3}T\d{2}:\d{2}:\d{2}(.(\d)+)?Z?"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:double≤0"
********************************************************************************
-->
   <xsd:simpleType name="DblMaxInc0_0Type">
      <xsd:restriction base="xsd:double">
         <xsd:maxInclusive value="0.0"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:double<0"
********************************************************************************
-->
   <xsd:simpleType name="DblMaxExc0_0Type">
      <xsd:restriction base="xsd:double">
         <xsd:maxExclusive value="0.0"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:double>0"
********************************************************************************
-->
   <xsd:simpleType name="DblMinExc0_0Type">
      <xsd:restriction base="xsd:double">
         <xsd:minExclusive value="0.0"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:double≥0"
********************************************************************************
-->
   <xsd:simpleType name="DblMinInc0_0Type">
      <xsd:restriction base="xsd:double">
         <xsd:minInclusive value="0.0"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:double -90.0≤x≤90.0"
********************************************************************************
-->
   <xsd:simpleType name="DblMinInc-90_0MaxInc90_0Type">
      <xsd:restriction base="xsd:double">
         <xsd:minInclusive value="-90.0"/>
         <xsd:maxInclusive value="90.0"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:double -360.0<x<360.0"
********************************************************************************
-->
   <xsd:simpleType name="DblMinExc-360_0MaxExc360_0Type">
      <xsd:restriction base="xsd:double">
         <xsd:minExclusive value="-360.0"/>
         <xsd:maxExclusive value="360.0"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:string restricted to UTC"
********************************************************************************
-->
   <xsd:simpleType name="RestrictedStringUTCType">
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="UTC"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "TleLine0String"
********************************************************************************
-->
   <xsd:simpleType name="stringTle0Type">
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="[ -~]*"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "TleLine1String"
********************************************************************************
-->
   <xsd:simpleType name="StringTle1Type">
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="[1][ ][ 0-9]{5}[USC][ ][ 0-9]{5}[ A-Z]{3}[ ][ 0-9]{2}[ 0-9]{3}[.][ 0-9]{8}[ ][ +\-][.][ 0-9]{8}[ ][ +\-][ 0-9]{5}[ +\-][ 0-9][ ][ +\-][ 0-9]{5}[ +\-][ 0-9][ ][ 0-9][ ][ 0-9]{5}"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "TleLine2String"
********************************************************************************
-->
   <xsd:simpleType name="StringTle2Type">
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="[2][ ][ 0-9]{5}[ ][ 0-9]{3}[.][ 0-9]{4}[ ][ 0-9]{3}[.][ 0-9]{4}[ ][ 0-9]{7}[ ][ 0-9]{3}[.][ 0-9]{4}[ ][ 0-9]{3}[.][ 0-9]{4}[ ][ 0-9]{2}[.][ 0-9]{14}"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:time restricted to hh:mm:ssZ"
********************************************************************************
-->
   <xsd:simpleType name="RestictedTimeHHMMSSType">
      <xsd:restriction base="xsd:time">
         <xsd:pattern value="[0-2][0-9]:[0-5][0-9]:[0-5][0-9]Z"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:double 0.0≤x≤90.0"
********************************************************************************
-->
   <xsd:simpleType name="DblMinExc0_0MaxInc90_0Type">
      <xsd:restriction base="xsd:double">
         <xsd:minInclusive value="0.0"/>
         <xsd:maxInclusive value="90.0"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:double 0.0≤x<360.0"
********************************************************************************
-->
   <xsd:simpleType name="DblMinInc0_0MaxExc360_0Type">
      <xsd:restriction base="xsd:double">
         <xsd:minInclusive value="0.0"/>
         <xsd:maxExclusive value="360.0"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:double 0.0≤x<180.0"
********************************************************************************
-->
   <xsd:simpleType name="DblMinInc0_0MaxExc180_0Type">
      <xsd:restriction base="xsd:double">
         <xsd:minInclusive value="0.0"/>
         <xsd:maxExclusive value="180.0"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:string preserve whitespace"
********************************************************************************
-->
   <xsd:simpleType name="StringPreserveWhitespaceType">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:int≥1 OR xsd:string restricted to Not Applicable"
********************************************************************************
-->
   <xsd:simpleType name="IntMinInc1_OR_StringRestrictedToNotApplicableType">
      <xsd:union>
         <xsd:simpleType>
            <xsd:restriction base="xsd:int">
               <xsd:minInclusive value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType>
            <xsd:restriction base="xsd:string">
               <xsd:pattern value="Not Applicable"/>
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>

<!--
********************************************************************************
   Define data type "xsd:int=-1 OR xsd:int>0"
********************************************************************************
-->
   <xsd:simpleType name="IntEQ-1_OR_positiveInteger">
      <xsd:union>
         <xsd:simpleType>
            <xsd:restriction base="xsd:int">
               <xsd:minInclusive value="-1"/>
               <xsd:maxInclusive value="-1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType>
            <xsd:restriction base="xsd:positiveInteger"/>
         </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>

</xsd:schema>
