902SANA/902SchemasAndExamples/902x06w01-EVSQ.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!--
********************************************************************************
        XML Schema generated by CCSDS Service Management Working Group's
                Papyrus UML Parser (PUP) at 2025-09-03T17:14:07Z
********************************************************************************
-->
<xsd:schema xmlns="urn:ccsds:schema:cssm"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="urn:ccsds:schema:cssm" >
   <xsd:include schemaLocation="902x05w01-SACP.xsd"/>

<!--
********************************************************************************
   Define enumeration "EventSeqStatus"
********************************************************************************
-->
   <xsd:simpleType name="EventSeqStatusType">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="INTERFACE-TEST"/>
         <xsd:enumeration value="OPERATIONAL"/>
         <xsd:enumeration value="OTHER"/>
      </xsd:restriction>
   </xsd:simpleType>

<!--
********************************************************************************
   Define class "EventSeqHeader"
   This is specialization of class"SrvMgtHeader"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="eventSeqHeader" type="EventSeqHeaderType" substitutionGroup="srvMgtHeader" abstract="false"/>
   <xsd:complexType name="EventSeqHeaderType">
      <xsd:complexContent>
         <xsd:extension base="SrvMgtHeaderType">
            <xsd:attribute name="status" type="EventSeqStatusType" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "EventSeq"
   This is specialization of class"SrvMgtInfoEntity"
   It is a restriction of this class.
********************************************************************************
-->
   <xsd:element name="eventSeq" type="EventSeqType" substitutionGroup="srvMgtInfoEntity" abstract="false"/>
   <xsd:complexType name="EventSeqType">
      <xsd:complexContent>
         <xsd:restriction base="SrvMgtInfoEntityType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="eventSeqHeader"/>
               <xsd:element minOccurs="1" maxOccurs="1" ref="eventSeqData"/>
            </xsd:sequence>
         </xsd:restriction>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "CcsdsEventSeqWrapper"
   This is specialization of class"AbstractEventSeqWrapper"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="ccsdsEventSeqWrapper" type="CcsdsEventSeqWrapperType" substitutionGroup="abstractEventSeqWrapper" abstract="false"/>
   <xsd:complexType name="CcsdsEventSeqWrapperType">
      <xsd:complexContent>
         <xsd:extension base="AbstractEventSeqWrapperType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="1" ref="eventSeq"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "EventSeqData"
   This is specialization of class"SrvMgtData"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="eventSeqData" type="EventSeqDataType" substitutionGroup="srvMgtData" abstract="false"/>
   <xsd:complexType name="EventSeqDataType">
      <xsd:complexContent>
         <xsd:extension base="SrvMgtDataType">
            <xsd:sequence>
               <xsd:element minOccurs="0" maxOccurs="unbounded" ref="abstractParameter"/>
            </xsd:sequence>
            <xsd:attribute name="eventSeqNickname" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

<!--
********************************************************************************
   Define class "ModESeqParmameter"
   This is specialization of class"AbstractModESeqParm"
   It is an extension of this class.
********************************************************************************
-->
   <xsd:element name="modESeqParmameter" type="ModESeqParmameterType" substitutionGroup="abstractModESeqParm" abstract="false"/>
   <xsd:complexType name="ModESeqParmameterType">
      <xsd:complexContent>
         <xsd:extension base="AbstractModESeqParmType">
            <xsd:sequence>
               <xsd:element minOccurs="1" maxOccurs="unbounded" ref="abstractParameter"/>
            </xsd:sequence>
            <xsd:attribute name="eventSequenceRef" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

</xsd:schema>
